---
layout: page
title: About
permalink: /about
description: "Who's behind the scenes? Learn more about our mission, values, and team, and why we're passionate about promoting digital rights and privacy."
---
{% include variables.html %}
{% include c_sub-hero.html title=page.title perex=page.description %}

<section>
	<div class="fixed-grid has-1-cols">
		<div class="grid">
			<div class="cell _has-text-centered p-5">
				<div class="container">

					<div class="columns is-align-items-center">
						<div class="column is-one-third has-text-centered">
							<img src="{% link assets/logos/techlore-logo-edit-by-figma.svg %}" width="260" height="260" loading="lazy" alt="Logo - {{ site.name }}">
						</div>
						<div class="column is-two-thirds is-size-3-mobile is-size-3-tablet is-size-2-desktop is-family-secondary has-text-warning has-text-weight-bold has-text-centered-mobile">
							{{ t.about.claim.tagline }}
						</div>
					</div>

					<div class="columns is-align-items-center mt-5-mobile">
						<div class="column is-two-thirds-tablet is-offset-4-tablet is-size-3-mobile is-size-3-tablet has-text-centered-mobile">
							<div class="columns is-desktop is-multiline">
								<div class="column is-flex">
									<div class="box is-box-info has-background has-glare p-6-custom-responsive is-flex-grow-1">
										<h2>{{ t.about.claim.vision.title }}</h2>
										<p>{{ t.about.claim.vision.text }}</p>
									</div>
								</div>
								<div class="column is-flex">
									<div class="box is-box-info has-background has-glare p-6-custom-responsive is-flex-grow-1">
										<h2>{{ t.about.claim.mission.title }}</h2>
										<p>{{ t.about.claim.mission.text }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		{%- include team.html -%}
		<div class="has-text-centered mt-4">
			<a href="https://svatos.dev" class="button is-ghost is-gap-1.5 has-text-weight-medium" aria-label="Michal's portfolio" target="_blank">
				{%- include e_render-svg-icon.html icon="web" class="icon" dimension=25 inline=true -%} Site designed by Michal Svatos
			</a>
		</div>
	</div>
</section>

<section>
	<div class="container">
		{% include official-accounts.html %}
	</div>
</section>
