---
layout: page
title: Archived SR episodes
permalink: /videos/archived-sr-episodes
sitemap: false
description: ""
---
{% include c_sub-hero.html title=page.title perex=page.description %}

<section>
	<div class="container">
		{%- if site.surveillance-report.size > 0 -%}
			{% assign sortedVideos = site.surveillance-report | sort: "datePublished" | reverse | slice: site.archive.itemsToShow, site.surveillance-report.size %}
			{% assign groupedVideos = "" %}

			{%- for video in sortedVideos -%}
				{% assign videoDate = video.datePublished | date: "%Y-%m" %}
				{% assign groupedVideos = groupedVideos | append: videoDate | append: "," %}
			{%- endfor -%}

			{% assign monthArray = groupedVideos | split: "," | uniq %}

			{%- for month in monthArray -%}
				{% assign title = month | append: "-01" | date: "%B, %Y" %}
				{%- include c_box-header.html title=title -%}
				<div class="box has-border p-6-custom-responsive">
					<ul class="archive listless marginless">
						{%- for video in sortedVideos -%}
							{% assign videoDate = video.datePublished | date: "%Y-%m" %}
							{% if videoDate == month %}

								{% include c_archive-item.html
									title=video.title
									datePublished=video.datePublished
									linkForum=video.linkForum
									linkPeerTube=video.linkPeerTube
									linkOdysee=video.linkOdysee
									linkYouTube=video.linkYouTube
								%}
							{% endif %}
						{%- endfor -%}
					</ul>
				</div>
				{% include c_box-footer.html
					link=site.data._en.navigation.hiddenNav.archivedSurveillanceReport.url
					title=site.data._en.content.global.back.backToVideos
				%}
			{%- endfor -%}
		{%- endif -%}
	</div>
</section>

