---
layout: page
title: Blog
permalink: /blog
description: The latest blog posts from Techlore
---
{% include variables.html %}
{% include c_sub-hero.html title=page.title perex=page.description %}

<article class="post">

  <div class="post-content container is-max-tablet {% if page.numbered_headings %}has-titles-counted{% endif %}">
    <section>
      <ul>
				{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
				{% endfor %}
			</ul>
    </section>
  </div>

</article>
