---
layout: page
title: Techlore Coaching
permalink: /coaching
---
{% include variables.html %}

{% assign perex = t.coaching.perex %}
{% include c_sub-hero.html title=page.title perex=perex %}

<section>
	<div class="container">
		<div class="coaching columns is-multiline">
			{% for service in site.data._en.content.coaching.services %}
				<div class="coaching__box column is-full-mobile is-half-tablet">
					{% include c_feature-box.html
							icon=service.icon
							title=service.title
							desc=service.desc
							class="is-box-danger has-no-background has-border"
					%}
				</div>
			{% endfor %}
			<div class="coaching__box coaching__box--cta column is-two-thirds-tablet m-auto">
				{% assign desc = site.data._en.content.coaching.getStarted.desc | markdownify %}

				{% include c_feature-box.html
						icon="star"
						title=site.data._en.content.coaching.getStarted.title
						desc=site.data._en.content.coaching.getStarted.desc
						buttonText=site.data._en.content.coaching.getStarted.buttonText
						buttonLink=site.coaching.links.survey
						buttonExternal=true
						class="is-box-warning has-no-background has-border has-glare has-content-text-align-left"
						buttonClass="is-warning"
				%}
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container is-max-tablet">
		<h2 class="has-text-centered">
			FAQ
		</h2>

		<div class="faq accordion">
			{%- for item in site.data._en.faq -%}
				{% assign id = item.title | slugify %}

				<div class="accordion__item message py-4">
					<input class="accordion__checkbox is-invisible" id="{{ id }}" type="checkbox">
					<label class="accordion__label anchor" for="{{ id }}" role="button">
						<h3 class="accordion__title is-flex is-align-items-center is-justify-content-space-between">
							<span class="is-flex-grow-1">{{ item.title }}</span>
							<a href="{{ item.title | slugify | prepend: "#" }}" class="anchor__hash px-2">#</a>
							{% include e_render-svg-icon.html dimension=25 icon="arrow-down" inline=true class="accordion__icon icon" %}
						</h3>
					</label>
					<div class="accordion__content message-body" aria-labelledby="{{ id }}">
						{% comment %} Local URL handling {% endcomment %}
						{% if item.desc contains "[[privacyPolicyUrl]]" %}
							{% assign privacyPolicyUrl = site.data._en.navigation.hiddenNav.privacy.url | absolute_url %}
							{{ item.desc | replace: "[[privacyPolicyUrl]]", privacyPolicyUrl | markdownify }}

						{% else %}
							{{ item.desc | markdownify }}

						{% endif %}
					</div>
				</div>
			{%- endfor -%}
		</div>
	</div>
</section>
