---
layout: page
title: Techlore Coaching
permalink: /coaching
---
{% include variables.html %}

{% assign perex = t.coaching.perex %}
{% include c_sub-hero.html title=page.title perex=perex %}

<section>
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-half-tablet">
				<div class="column">
				{% assign title = "Identity Theft Prevention" %}
				{% assign desc = "We analyze your weak points, threat model, and individual situation to protect your identity from strangers, people-searching websites, and cybercriminals." %}

				{% include c_feature-box.html icon="star" title=title desc=desc %}
			</div>
			<div class="column">
				{% assign title = "Breach Protection" %}
				{% assign desc = "Learn how to protect your accounts and take control of your digital identity. From your operating system to online accounts, all tailored to your individual needs." %}

				{% include c_feature-box.html icon="star" title=title desc=desc %}
			</div>
			<div class="column">
				{% assign title = "Individualized Support" %}
				{% assign desc = "There is no single configuration for every person. We perform an individualized analysis on threats you care about—then give you options to achieve your desired protection." %}

				{% include c_feature-box.html icon="star" title=title desc=desc %}
			</div>
			<div class="column">
				{% assign title = "Direct Help" %}
				{% assign desc = "We are dedicated to your safety. Curious about creating a pseudonym, hardening your systems, protecting your public persona, or anything else? We are here for all your questions." %}

				{% include c_feature-box.html icon="star" title=title desc=desc %}
			</div>
			</div>
			<div class="column is-half-tablet">
				<div class="column">
					{% assign title = "Get Started" %}
				{% assign desc = "<ul class='has-text-left'>
					<li>Individualized support for your situation</li>
					<li>Free consultation before starting</li>
					<li>Individually work with Henry, Owner of Techlore</li>
					<li>Education & Monero discounts available</li>
				</ul>" %}
				{%  assign buttonText = "Apply for coaching" %}
				{% assign buttonLink = "#" %}

				

				{% include c_feature-box.html icon="star" title=title desc=desc buttonText=buttonText buttonLink=buttonLink buttonExternal=true %}
				</div>
			</div>
		</div>
	</div>
</section>