---
layout: page
title: "Go Incognito"
permalink: /goincognito
description: "Dive into our comprehensive guide to security, privacy, and anonymity, and learn how to protect yourself online."
---
{% include variables.html %}
{% include c_sub-hero.html title=page.title perex=page.description %}

<section>
	<div class="container is-max-tablet">
		{% include goincognitotable.html %}
	</div>
</section>

<section>
	<div class="container">
		{%- include c_box-header.html title=t.goincognito.course.overviewTitle -%}

		<div class="box p-6-custom-responsive has-border">
			{% include goincognito-overview.html %}
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="has-text-centered">{{ t.goincognito.related }}</h2>
		<div class="columns has-1-cols is-centered">
			<div class="column is-two-thirds-tablet is-half-fullhd">
				{% comment %}- Left links column -{% endcomment %}
				{% assign repo = site.data._en.navigation.hiddenNav.goincognitoRepo %}
				{% assign changelog = site.data._en.navigation.hiddenNav.goincognitoChangelog %}

				{% comment %}- creating array -{% endcomment %}
				{% assign leftUrls = "" | split: "" %}
				{% assign leftUrls = leftUrls | push: repo | push: changelog %}

				{% comment %}- Right links column -{% endcomment %}
				{% assign sources = site.data._en.navigation.hiddenNav.goincognitoSources %}
				{% assign bts = site.data._en.navigation.hiddenNav.goincognitoBehind %}

				{% comment %}- creating array -{% endcomment %}
				{% assign rightUrls = "" | split: "" %}
				{% assign rightUrls = rightUrls | push: sources | push: bts %}

				{% include c_linkhub-dual.html leftLinks=leftUrls rightLinks=rightUrls %}
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="has-text-centered">{{ t.support.section.titleShort }}</h2>
		<div class="columns has-1-cols has-2-cols-tablet is-centered">
			<div class="column is-half-tablet is-one-third-desktop is-flex">
				{% assign paymentLinks = site.support.links | keys %}
				{% assign iconVpn = "donate" %}
				{% assign buttonLink = site.data._en.navigation.mainNav.goincognito.url | relative_url %}
				{% include c_feature-box.html
					icon=iconVpn
					title=t.featureBox.supportUs.title
					desc=t.featureBox.supportUs.desc
					section="support"
					links=paymentLinks
					class="is-box-warning has-no-background has-border"
					buttonClass="is-warning"
					tooltip=true
				%}
			</div>
		</div>
	</div>
</section>
