---
layout: default
title: Home
description: "Techlore is educating people about digital rights, privacy, security, digital control, and other important topics to push the world towards a safer internet."
last_modified_at: 2024-11-01
---
{% include variables.html %}


<div class="container">
	{% include c_hero-banner.html %}
</div>

<section>
	<div class="container">
		<div class="columns has-1-cols-mobile has-2-cols-tablet two-columns-spacer">
			<div class="column">
				{%- include c_box-header.html title=t.videos.titleNewest links=site.techloreVideos.links -%}
				{%- if site.techlore.size > 0 -%}
					<div class="box">
						<ul class="video-list marginless listless columns">
							{% assign sortedVideos = site.techlore | sort: "datePublished" | reverse %}
							{% for video in sortedVideos limit: 2 %}
								{% assign filename = video.path | split: "/" | last %}
								{% assign videoThumbnail = "/techlore/" | append: filename | replace: ".md", ".jpg" | relative_url %}

								{%- include c_video.html
									title=video.title
									desc=video.description
									link=video.linkForum
									linkYouTube=video.linkYouTube
									linkPeerTube=video.linkPeerTube
									linkOdysee=video.linkOdysee
									thumbnail=videoThumbnail
									date=video.datePublished
									tags=video.tags
								-%}

							{% endfor %}
						</ul>
					</div>
				{%- endif -%}
			</div>
			<div class="column">
				{%- include c_box-header.html title=t.home.hotTopics links=site.forum.links -%}

				<div class="box">
					<noscript>
						<div class="has-text-weight-light">
							{% include c_nojs-message.html title="this widget" %}
						</div>
					</noscript>

					<ul class="topic-list listless marginless is-flex is-gap-2 is-flex-direction-column"
						data-forum="https://discuss.techlore.tech"
						data-feed="https://mocki.io/v1/bca1593d-b1b9-42eb-8ad6-dad5234e93ec"
						data-xfeed="http://localhost:4000/techlore/6.json"
						data-count="4"
					>
						<li class="topic-list__item">
							<a href="" class="topic-list__link is-flex is-flex-direction-row is-gap-2 is-align-items-flex-start is-justify-content-flex-start">
								<img src="{% link assets/images/avatar-default.svg %}" width="48" height="48" alt="Placeholder image" class="topic-list__avatar has-radius-rounded is-skeleton">
								<span class="topic-list__text is-flex is-flex-direction-column">
									<span class="topic-list__title is-skeleton">Yeah, I guessed you're a sailor, aren't you?</span>
									<span class="topic-list__footer mt-1 is-flex is-gap-3 is-align-items-flex-start">
										<span class="topic-list__views is-skeleton">
											(o) 5
										</span>
										<span class="topic-list__last-poster is-skeleton">
											Oct 26, 1985, 01:21 by Marty85
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="topic-list__item">
							<a href="" class="topic-list__link is-flex is-flex-direction-row is-gap-2 is-align-items-flex-start is-justify-content-flex-start">
								<img src="{% link assets/images/avatar-default.svg %}" width="48" height="48" alt="Placeholder image" class="topic-list__avatar has-radius-rounded is-skeleton">
								<span class="topic-list__text is-flex is-flex-direction-column">
									<span class="topic-list__title is-skeleton">Chuck, Chuck, its' your cousin. Your cousin Marvin Berry!</span>

									<span class="topic-list__footer mt-1 is-flex is-gap-3 is-align-items-flex-start">
										<span class="topic-list__views is-skeleton">
											(o) 5
										</span>
										<span class="topic-list__last-poster is-skeleton">
											Oct 26, 1985, 01:20 by Brown_Enterprises
										</span>
									</span>

								</span>
							</a>
						</li>
						<li class="topic-list__item">
							<a href="" class="topic-list__link is-flex is-flex-direction-row is-gap-2 is-align-items-flex-start is-justify-content-flex-start">
								<img src="{% link assets/images/avatar-default.svg %}" width="48" height="48" alt="Placeholder image" class="topic-list__avatar has-radius-rounded is-skeleton">

								<span class="topic-list__text is-flex is-flex-direction-column">
									<span class="topic-list__title is-skeleton">Check out that 4x4. That is hot. Someday, Jennifer, someday.</span>

									<span class="topic-list__footer mt-1 is-flex is-gap-3 is-align-items-flex-start">
										<span class="topic-list__views is-skeleton">
											(o) 5
										</span>
										<span class="topic-list__last-poster is-skeleton">
											Nov 12, 1955, 22:04 by Biff
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="topic-list__item">
							<a href="" class="topic-list__link is-flex is-flex-direction-row is-gap-2 is-align-items-flex-start is-justify-content-flex-start">
								<img src="{% link assets/images/avatar-default.svg %}" width="48" height="48" alt="Placeholder image" class="topic-list__avatar has-radius-rounded is-skeleton">

								<span class="topic-list__text is-flex is-flex-direction-column">
									<span class="topic-list__title is-skeleton">Last night, Darth Vader came down from planet Vulcan.</span>

									<span class="topic-list__footer mt-1 is-flex is-gap-3 is-align-items-flex-start">
										<span class="topic-list__views is-skeleton">
											(o) 5
										</span>
										<span class="topic-list__last-poster is-skeleton">
											Nov 12, 1955, 22:04 by GeorgeMcFly
										</span>
									</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="has-text-centered">{{ t.resources.section.title }}</h2>
		{% comment %}- Left links column -{% endcomment %}
		{% assign courses = site.data._en.navigation.mainNav.goincognito %}
		{% assign coaching = site.data._en.navigation.hiddenNav.coaching %}
		{% assign freeResources = site.data._en.navigation.mainNav.resources %}

		{% comment %}- creating array -{% endcomment %}
		{% assign leftUrls = "" | split: "" %}
		{% assign leftUrls = leftUrls | push: courses | push: coaching | push: freeResources %}

		{% comment %}- Right links column -{% endcomment %}
		{% assign spaQuiz = site.data._en.navigation.hiddenNav.spaQuiz %}
		{% assign vpnToolkit = site.data._en.navigation.hiddenNav.vpnToolkit %}
		{% assign plexus = site.data._en.navigation.hiddenNav.plexus %}

		{% comment %}- creating array -{% endcomment %}
		{% assign rightUrls = "" | split: "" %}
		{% assign rightUrls = rightUrls | push: spaQuiz | push: vpnToolkit | push: plexus %}

		{%- include c_linkhub-dual-wrapper.html
			leftTitle=t.resources.section.learn.title
			leftDesc=t.resources.section.learn.desc
			leftLinkArray=leftUrls
			rightTitle=t.resources.section.tools.title
			rightDesc=t.resources.section.tools.desc
			rightLinkArray=rightUrls
			leftButtonClass="is-primary"
			rightButtonClass="is-danger"
		-%}
	</div>
</section>

<section>
	<div class="container">
		<h2 class="has-text-centered">{{ t.support.section.title }}</h2>
		<div class="columns has-1-cols has-2-cols-tablet is-centered">
			<div class="column is-full-mobile is-half-tablet is-one-third-desktop is-flex">
				{% assign socialLinks = site.socials.links | keys %}
				{% assign iconSpa = "shirt" %}
				{% include c_feature-box.html
					icon=iconSpa
					title=t.featureBox.socials.title
					desc=t.featureBox.socials.desc
					links=socialLinks
					class="is-box-info has-border"
					buttonClass="is-info is-large"
					tooltip=true
				%}
			</div>
			<div class="column is-full-mobile is-half-tablet is-one-third-desktop is-flex">
				{% assign paymentLinks = site.support.links | keys %}
				{% assign iconVpn = "donate" %}
				{% include c_feature-box.html
					icon=iconVpn
					title=t.featureBox.supportUs.title
					desc=t.featureBox.supportUs.desc
					links=paymentLinks
					class="is-box-warning has-border"
					buttonClass="is-warning is-large"
					tooltip=true
				%}
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container is-max-desktop">
		<h2 class="has-text-centered">{{ t.about.section.title }}</h2>
		<p class="has-text-centered">{{ t.about.section.desc }}</p>
	</div>

	<div class="container is-max-desktop mt-6">
		{% include team.html isHomepage=true isMini=true %}

		<p class="has-text-centered mt-6">
			<a href="{% link about.html %}" class="button">{{ t.about.buttonMore }}</a>
		</p>
	</div>
</section>
