---
layout: page
title: Resources
permalink: /resources
description: "Techlore's Privacy & Security recommendations based on our strict <a href='https://discuss.techlore.tech/pub/criteria' target='_blank'>criteria</a>. For further assistance, we suggest our <a href='/goincognito'>Go Incognito</a> course and our coaching. There are <a href='#external-resources'>external resources</a> at the bottom for more recommendations."
---
{%- include variables.html -%}

{%- include c_sub-hero.html title=page.title perex=page.description buttons=t.resources.subHeroButtons -%}

<section>
	<div class="container">
		<div class="columns has-1-cols has-3-cols-tablet is-centered is-multiline">
			<div class="column is-half-tablet is-one-third-desktop is-flex">
				{% assign iconSpa = "list-select" %}
				{% assign buttonLink = site.data._en.navigation.hiddenNav.spaQuiz.url | relative_url %}
				{% include c_feature-box.html
					icon=iconSpa
					title=t.featureBox.techloreTools.spaQuiz.title
					desc=t.featureBox.techloreTools.spaQuiz.desc
					buttonText=t.featureBox.techloreTools.spaQuiz.buttonText
					buttonLink=buttonLink
					class="is-box-danger has-no-background has-border"
					buttonClass="is-danger"
				%}
			</div>
			<div class="column is-half-tablet is-one-third-desktop is-flex">
				{% assign iconVpn = "server" %}
				{% assign buttonLink = site.data._en.navigation.hiddenNav.vpnToolkit.url | relative_url %}
				{% include c_feature-box.html
					icon=iconVpn
					title=t.featureBox.techloreTools.vpnToolkit.title
					desc=t.featureBox.techloreTools.vpnToolkit.desc
					buttonText=t.featureBox.techloreTools.vpnToolkit.buttonText
					buttonLink=buttonLink
					class="is-box-success has-no-background has-border"
					buttonClass="is-success"
				%}
			</div>
			<div class="column is-half-tablet is-one-third-desktop is-flex">
				{% assign iconPlexus = "plexus" %}
				{% include c_feature-box.html
					icon=iconPlexus
					title=t.featureBox.techloreTools.plexus.title
					desc=t.featureBox.techloreTools.plexus.desc
					buttonText=t.featureBox.techloreTools.plexus.buttonText
					buttonLink=site.plexus.links.web
					buttonExternal=true
					class="is-box-info has-no-background has-border"
					buttonClass="is-info"
				%}
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		{%- include c_box-header.html title=t.videos.techloreGuides.title links=site.techloreVideos.links anchor=true -%}
		{%- if site.guides.size > 0 -%}
			{% assign sortedGuides = site.guides | sort: "dateUpdated" | reverse %}
			<div class="box">
				<ul class="video-list marginless is-flex is-flex-direction-column is-gap-6 listless">
					{% for guide in sortedGuides %}
						{% assign filename = guide.path | split: "/" | last %}
						{% assign guideThumbnail = "/guides/" | append: filename | replace: ".md", ".jpg" | relative_url %}

						{%- include c_video.html
							title=guide.title
							desc=guide.description
							link=guide.linkForum
							linkYouTube=guide.linkYouTube
							linkPeerTube=guide.linkPeerTube
							linkOdysee=guide.linkOdysee
							thumbnail=guideThumbnail
							isPremium=guide.isPremium
							isDetailed=true
						-%}
					{% endfor %}
				</ul>
			</div>
		{%- endif -%}
	</div>
</section>

{% assign kbtext = site.data._en.knowledgebase-text %}
<aside class="knowledgebase-navigation-wrapper" data-is-visible="false">
	<button id="knowledgebaseNavToggle" class="knowledgebase-navigation__toggle has-background-link is-flex is-justify-content-center is-align-items-center">
		{% include e_render-svg-icon.html icon="list-select" dimension=75 class="icon has-text-white" inline=true %}
	</button>
	<div class="knowledgebase-navigation menu">
		<div class="box has-background-link p-5 is-radiusless">
			{% for section in kbtext.sections %}
				{% assign sectionKey = section[0] %}
				<p class="knowledgebase-navigation__menu-label menu-label">{{ section[1] }}</p>

				<ul class="knowledgebase-navigation__menu-list menu-list is-flex is-flex-direction-column is-gap-1 listless">
					{% for item in site.data._en.knowledgebase[sectionKey] %}
						{% assign category = item[0] %}
						{% assign sectionGroup = site.data._en.knowledgebase[sectionKey] %}
						{% assign order = sectionGroup[category].order %}

						<li class="knowledgebase-navigation__menu-item is-size-7 mt-0" style="--_order: {{ order }}">
							<a href="{{ category | prepend: "#" }}">{{ kbtext.categories[category] }}</a>
						</li>

					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>
</aside>

<section data-knowledgebase-navigation>
	{% comment %} SOFTWARE, HW, APPS ============================================================= {% endcomment %}
	<div class="container is-max-tablet" id="all-resources">
		<div class="has-text-centered">
			<h2>{{ kbtext.sections.software }}</h2>
			<p>
				{% assign affiliatesUrl = site.data._en.navigation.hiddenNav.affiliates.url | relative_url %}
				{% include e_render-svg-icon.html icon="link" dimension="25" inline=true %}
				{{ kbtext.disclaimer | replace: "[[affiliatesUrl]]", affiliatesUrl }}
			</p>
			<p>
				{% include e_render-svg-icon.html icon="star-solid" dimension="25" inline=true class="has-text-warning" %}
				{{ kbtext.favorite }}
			</p>
		</div>
	</div>

	<div class="container mt-6">
		<div class="knowledgebase-nav buttons">
			{% for item in site.data._en.knowledgebase.software %}
				{% assign category = item[0] %}
				{% assign order = site.data._en.knowledgebase.software[category].order %}
				<a href="{{ category | prepend: "#" }}" class="knowledgebase-nav__button button is-primary" style="--_order: {{ order }}">{{ kbtext.categories[category] }}</a>
			{% endfor %}
		</div>
	</div>

	<!-- Web browsers -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.web-browsers %}
		{% assign data = site.data._en.knowledgebase.software.web-browsers.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.software.web-browsers.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Password managers -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.password-managers %}
		{% assign data = site.data._en.knowledgebase.software.password-managers.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.software.password-managers.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- 2FA -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories["2fa"] %}
		{% assign data = site.data._en.knowledgebase.software["2fa"].data %}
		{% assign relatedLinks = site.data._en.knowledgebase.software["2fa"].related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Encryption -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.encryption %}
		{% assign data = site.data._en.knowledgebase.software.encryption.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.software.encryption.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Firewalls -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.firewalls %}
		{% assign data = site.data._en.knowledgebase.software.firewalls.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.software.firewalls.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Applications -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.applications %}
		{% assign data = site.data._en.knowledgebase.software.applications.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.software.applications.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	{% comment %} OPERATING SYSTEMS ============================================================= {% endcomment %}
	<div class="container is-max-tablet mt-6">
		<div class="has-text-centered">
			<h2>{{ kbtext.sections.operating-systems }}</h2>
			<p>
				{% assign affiliatesUrl = site.data._en.navigation.hiddenNav.affiliates.url | relative_url %}
				{% include e_render-svg-icon.html icon="link" dimension="25" inline=true %}
				{{ kbtext.disclaimer | replace: "[[affiliatesUrl]]", affiliatesUrl }}
			</p>
			<p>
				{% include e_render-svg-icon.html icon="star-solid" dimension="25" inline=true class="has-text-warning" %}
				{{ kbtext.favorite }}
			</p>
		</div>
	</div>

	<div class="container mt-6">
		<div class="knowledgebase-nav buttons">
			{% for item in site.data._en.knowledgebase.operating-systems %}
				{% assign category = item[0] %}
				{% assign order = site.data._en.knowledgebase.operating-systems[category].order %}
				<a href="{{ category | prepend: "#" }}" class="knowledgebase-nav__button button is-primary" style="--_order: {{ order }}">{{ kbtext.categories[category] }}</a>
			{% endfor %}
		</div>
	</div>

	<!-- OS/Desktop Operating Systems -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.desktop-operating-systems %}
		{% assign data = site.data._en.knowledgebase.operating-systems.desktop-operating-systems.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.operating-systems.desktop-operating-systems.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- OS/Android -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.android %}
		{% assign data = site.data._en.knowledgebase.operating-systems.android.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.operating-systems.android.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	{% comment %} OTHER SERVICES ============================================================= {% endcomment %}
	<div class="container is-max-tablet mt-6">
		<div class="has-text-centered">
			<h2>{{ kbtext.sections.other-services }}</h2>
			<p>
				{% assign affiliatesUrl = site.data._en.navigation.hiddenNav.affiliates.url | relative_url %}
				{% include e_render-svg-icon.html icon="link" dimension="25" inline=true %}
				{{ kbtext.disclaimer | replace: "[[affiliatesUrl]]", affiliatesUrl }}
			</p>
			<p>
				{% include e_render-svg-icon.html icon="star-solid" dimension="25" inline=true class="has-text-warning" %}
				{{ kbtext.favorite }}
			</p>
		</div>
	</div>

	<div class="container mt-6">
		<div class="knowledgebase-nav buttons">
			{% for item in site.data._en.knowledgebase.other-services %}
				{% assign category = item[0] %}
				{% assign order = site.data._en.knowledgebase.other-services[category].order %}
				<a href="{{ category | prepend: "#" }}" class="knowledgebase-nav__button button is-primary" style="--_order: {{ order }}">{{ kbtext.categories[category] }}</a>
			{% endfor %}
		</div>
	</div>

	<!-- Search Engines -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.search-engines %}
		{% assign data = site.data._en.knowledgebase.other-services.search-engines.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.search-engines.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- VPNs -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.vpns %}
		{% assign data = site.data._en.knowledgebase.other-services.vpns.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.vpns.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- DNS -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.dns %}
		{% assign data = site.data._en.knowledgebase.other-services.dns.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.dns.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Messengers -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.messengers %}
		{% assign data = site.data._en.knowledgebase.other-services.messengers.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.messengers.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Email -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.email %}
		{% assign data = site.data._en.knowledgebase.other-services.email.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.email.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Aliasing -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.aliasing %}
		{% assign data = site.data._en.knowledgebase.other-services.aliasing.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.aliasing.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Cloud -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.cloud %}
		{% assign data = site.data._en.knowledgebase.other-services.cloud.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.cloud.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!--Notes, Docs & Photos -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.notes-docs-a-photos %}
		{% assign data = site.data._en.knowledgebase.other-services.notes-docs-a-photos.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.notes-docs-a-photos.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Cryptocurrencies -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.cryptocurrencies %}
		{% assign data = site.data._en.knowledgebase.other-services.cryptocurrencies.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.cryptocurrencies.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Networking -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.networking %}
		{% assign data = site.data._en.knowledgebase.other-services.networking.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.networking.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Other tools -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.other-tools %}
		{% assign data = site.data._en.knowledgebase.other-services.other-tools.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.other-services.other-tools.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	{% comment %} EXTERNAL RESOURCES ============================================================= {% endcomment %}
	<div class="container is-max-tablet mt-6" id="external-resources">
		<div class="has-text-centered">
			<h2>{{ kbtext.sections.external-resources }}</h2>
			<p>
				{{ kbtext.external }}
			</p>
		</div>
	</div>

	<!-- Guides -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.guides %}
		{% assign data = site.data._en.knowledgebase.external-resources.guides.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.external-resources.guides.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Digital rights -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.digital-rights %}
		{% assign data = site.data._en.knowledgebase.external-resources.digital-rights.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.external-resources.digital-rights.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

	<!-- Creators -->
	<div class="container mt-6" data-knowledgebase-section>
		{% assign title = kbtext.categories.creators %}
		{% assign data = site.data._en.knowledgebase.external-resources.creators.data %}
		{% assign relatedLinks = site.data._en.knowledgebase.external-resources.creators.related %}

		{% include c_knowledgebase.html title=title data=data related=relatedLinks %}
	</div>

</section>
