---
layout: page
title: All SR episodes
permalink: /videos/all-surveillance-report-episodes
---
{% include variables.html %}

{% assign perex = t.videos.surveillanceReport.perex %}
{% include c_sub-hero.html title=page.title perex=perex %}

<section>
	<div class="container">
		{%- if site.surveillance-report.size > 0 -%}
			<div class="box has-footer">
				<ul class="video-list marginless listless">
					{% assign sortedVideos = site.surveillance-report | sort: "frontmatter.datePublished" | reverse %}
					{% for video in sortedVideos limit: 4 %}
						{% assign filename = video.path | split: "/" | last %}
						{% assign videoThumbnail = "/surveillance-report/" | append: filename | replace: ".md", ".jpg" | relative_url %}

						{%- include c_video.html
								title=video.title
								desc=video.description
								link=video.linkForum
								youtube=video.linkYouTube
								peertube=video.linkPeerTube
								odysee=video.linkdOdysee
								thumbnail=videoThumbnail
								date=video.datePublished
								tags=video.tags
								isDetailed=true
						-%}

					{% endfor %}
				</ul>
			</div>
			{% include c_box-footer.html 
					link=site.data._en.navigation.mainNav.videos.url 
					title=site.data._en.content.global.back.backToVideos
			%}
		{%- endif -%}
	</div>
</section>
