---
layout: page
title: Videos
permalink: /videos
description: "Explore our video library, featuring expert insights and practical tips on digital rights and privacy."
---
{% include variables.html %}
{% include c_sub-hero.html title=page.title perex=page.description %}

<section>
	<div class="container">
		{%- include c_box-header.html title=t.videos.titleNewest links=site.techloreVideos.links -%}
		{%- if site.techlore.size > 0 -%}
			<div class="box has-footer">
				<ul class="video-list marginless listless columns">
					{% assign sortedVideos = site.techlore | sort: "datePublished" | reverse %}
					{% for video in sortedVideos limit: 4 %}
						{% assign filename = video.path | split: "/" | last %}
						{% assign videoThumbnail = "/techlore/" | append: filename | replace: ".md", ".jpg" | relative_url %}

						{%- include c_video.html
							title=video.title
							desc=video.description
							link=video.linkForum
							linkYouTube=video.linkYouTube
							linkPeerTube=video.linkPeerTube
							thumbnail=videoThumbnail
							date=video.datePublished
							tags=video.tags
						-%}

					{% endfor %}
				</ul>
			</div>
		{%- endif -%}
		{% include c_box-footer.html
			link=site.data._en.navigation.hiddenNav.allTechloreVideos.url
			title=t.global.other.viewMore
		%}
	</div>
</section>

<section>
	<div class="container">
		<div class="columns">
			<div class="column is-full-mobile is-half" id="techlore-clips">
				{%- include c_box-header.html title=t.videos.techloreClips.title links=site.techloreClips.links -%}
				{%- if site.clips.size > 0 -%}
					<div class="box has-footer">
						<ul class="video-list marginless listless columns">
							{% assign sortedVideos = site.clips | sort: "datePublished" | reverse %}
							{% for video in sortedVideos limit: 2 %}
								{% assign filename = video.path | split: "/" | last %}
								{% assign videoThumbnail = "/clips/" | append: filename | replace: ".md", ".jpg" | relative_url %}

								{%- include c_video.html
									title=video.title
									desc=video.description
									link=video.linkForum
									linkYouTube=video.linkYouTube
									linkPeerTube=video.linkPeerTube
									linkOdysee=video.linkOdysee
									thumbnail=videoThumbnail
									date=video.datePublished
									tags=video.tags
								-%}

							{% endfor %}
						</ul>
					</div>
					{% include c_box-footer.html
						link=site.data._en.navigation.hiddenNav.allTechloreClips.url
						title=t.global.other.viewMore
					%}
				{%- endif -%}
			</div>
			<div class="column is-full-mobile is-half" id="surveillance-report">
				{%- include c_box-header.html title=t.videos.surveillanceReport.title links=site.surveillanceReport.links -%}
				{%- if site.surveillance-report.size > 0 -%}
					<div class="box has-footer">
						<ul class="video-list marginless listless columns">
							{% assign sortedVideos = site.surveillance-report | sort: "datePublished" | reverse %}
							{% for video in sortedVideos limit: 2 %}
								{% assign filename = video.path | split: "/" | last %}
								{% assign videoThumbnail = "/surveillance-report/" | append: filename | replace: ".md", ".jpg" | relative_url %}

								{%- include c_video.html
									title=video.title
									desc=video.description
									link=video.linkForum
									linkYouTube=video.linkYouTube
									linkPeerTube=video.linkPeerTube
									linkOdysee=video.linkOdysee
									thumbnail=videoThumbnail
									date=video.datePublished
									tags=video.tags
								-%}

							{% endfor %}
						</ul>
					</div>
					{% include c_box-footer.html
						link=site.data._en.navigation.hiddenNav.allSurveillanceReport.url
						title=t.global.other.viewMore
					%}
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container is-max-tablet">
		{% if t.goincognito.engageUser.title %}
			<h2 class="has-text-centered">{{ t.goincognito.titleMore }}</h2>
		{% endif %}

		{% assign iconEngage = "iris-scan" %}
		{% assign buttonLink = site.data._en.navigation.mainNav.goincognito.url | absolute_url %}
		{% include c_feature-box.html
			icon=iconEngage
			title=t.featureBox.tryIncognito.title
			desc=t.featureBox.tryIncognito.desc
			buttonText=t.featureBox.tryIncognito.buttonText
			buttonLink=buttonLink
			class="is-box-warning has-no-background has-border"
			buttonClass="is-warning"
		%}
	</div>
</section>
