---
layout: page
title: All Techlore videos
permalink: /videos/all-techlore-videos
sitemap: false
description: "Get practical advice and step-by-step instructions with our in-depth guides to protecting your online presence"
---
{% include variables.html %}
{% include c_sub-hero.html title=page.title perex=page.description %}

<section>
	<div class="container">
		{%- if site.techlore.size > 0 -%}
			{%- include c_box-header.html links=site.techloreVideos.links -%}
			<div class="box has-footer has-border p-6-custom-responsive">
				<ul class="video-list marginless is-flex is-flex-direction-column is-gap-7 listless">
					{% assign sortedVideos = site.techlore | sort: "datePublished" | reverse %}
					{% for video in sortedVideos limit: 4 %}
						{% assign filename = video.path | split: "/" | last %}
						{% assign videoThumbnail = "/techlore/" | append: filename | replace: ".md", ".jpg" | relative_url %}

						{%- include c_video.html
							title=video.title
							desc=video.description
							link=video.linkForum
							linkYouTube=video.linkYouTube
							linkPeerTube=video.linkPeerTube
							linkOdysee=video.linkOdysee
							thumbnail=videoThumbnail
							date=video.datePublished
							tags=video.tags
							isDetailed=true
						-%}

					{% endfor %}
				</ul>
			</div>
			{% include c_box-footer.html
				link=site.data._en.navigation.mainNav.videos.url
				title=site.data._en.content.global.back.backToVideos
			%}
		{%- endif -%}
	</div>
</section>

<section>
	<div class="container is-max-tablet">
		{% if t.goincognito.engageUser.title %}
			<h2 class="has-text-centered">{{ t.goincognito.titleMore }}</h2>
		{% endif %}

		{% assign iconEngage = "iris-scan" %}
		{% assign buttonLink = "TODO" %}
		{% include c_feature-box.html
			icon=iconEngage
			title=t.featureBox.tryIncognito.title
			desc=t.featureBox.tryIncognito.desc
			buttonText=t.featureBox.tryIncognito.buttonText
			buttonLink=buttonLink
			class="is-box-warning has-border"
			buttonClass="is-warning"
		%}
	</div>
</section>
