---
layout: page
title: All Techlore videos
permalink: /videos/all-techlore-videos
---
{% include variables.html %}

{% assign perex = t.videos.perex %}
{% include c_sub-hero.html title=page.title perex=perex %}

<section>
	<div class="container">
		{%- if site.techlore.size > 0 -%}
			<div class="box has-footer">
				<ul class="video-list marginless listless">
					{% assign sortedVideos = site.techlore | sort: "frontmatter.datePublished" | reverse %}
					{% for video in sortedVideos limit: 4 %}
						{% assign filename = video.path | split: "/" | last %}
						{% assign videoThumbnail = "/techlore/" | append: filename | replace: ".md", ".jpg" | relative_url %}

						{%- include c_video.html
								title=video.title
								desc=video.description
								link=video.linkForum
								youtube=video.linkYouTube
								peertube=video.linkPeerTube
								odysee=video.linkdOdysee
								thumbnail=videoThumbnail
								date=video.datePublished
								tags=video.tags
								isDetailed=true
						-%}

					{% endfor %}
				</ul>
			</div>
			{% include c_box-footer.html
					link=site.data._en.navigation.mainNav.videos.url
					title=site.data._en.content.global.back.backToVideos
			%}
		{%- endif -%}
	</div>
</section>

<section>
	<div class="container is-max-tablet">
		{% if t.goincognito.engageUser.title %}
			<h2 class="has-text-centered">{{ t.goincognito.titleMore }}</h2>
		{% endif %}

		{% assign iconEngage = "iris-scan" %}
		{% assign buttonLink = "TODO" %}
		{% include c_feature-box.html
				icon=iconEngage
				title=t.featureBox.tryIncognito.title
				desc=t.featureBox.tryIncognito.desc
				buttonText=t.featureBox.tryIncognito.buttonText
				buttonLink=buttonLink
		%}
	</div>
</section>