---
layout: page
title: All Techlore clips
permalink: /videos/all-techlore-clips
sitemap: false
description: "Watch and share these short clips from our video series, packed with handy tips and insights on digital rights and privacy."
---
{% include variables.html %}
{% include c_sub-hero.html title=page.title perex=page.description %}

<section>
	<div class="container">
		{%- if site.clips.size > 0 -%}
			<div class="box has-footer">
				<ul class="video-list marginless is-flex is-flex-direction-column is-gap-2 listless">
					{% assign sortedVideos = site.clips | sort: "datePublished" | reverse %}
					{% for video in sortedVideos limit: site.archive.itemsToShow %}
						{% assign filename = video.path | split: "/" | last %}
						{% assign videoThumbnail = "/clips/" | append: filename | replace: ".md", ".jpg" | relative_url %}

						{%- include c_video.html
							title=video.title
							desc=video.description
							link=video.linkForum
							linkYouTube=video.linkYouTube
							linkPeerTube=video.linkPeerTube
							linkOdysee=video.linkOdysee
							thumbnail=videoThumbnail
							date=video.datePublished
							tags=video.tags
							isDetailed=true
						-%}

					{% endfor %}
				</ul>
			</div>
			{% include c_box-footer.html
				link=site.data._en.navigation.mainNav.videos.url
				title=site.data._en.content.global.back.backToVideos
				link2=site.data._en.navigation.hiddenNav.archivedTechloreClips.url
				title2=site.data._en.navigation.hiddenNav.archivedTechloreClips.title
			%}
		{%- endif -%}
	</div>
</section>
