{% comment %}
	BOX FOOTER -----------------------------------------
    Info:
        Displays one/two button(s) "glued" below the right bottom corner of the box.
        Add the class "has-footer" to the ".box".
	Parameters:
		- title, title2 (string, optional)
		- link, link2 (string, optional)
		- class (optional):					custom class
{% endcomment %}

{% if include.link and include.title %}
	<div class="box-footer is-flex mt-2 buttons">
		{% if include.link2 %}
			<a href="{{ include.link2 | absolute_url }}" class="box-footer__button button is-small has-radius-normal{% if include.class %} {{ include.class }}{% endif %}">
				{{ include.title2 }}
			</a>
		{% endif %}
		<a href="{{ include.link | absolute_url }}" class="box-footer__button button is-small has-radius-normal{% if include.class %} {{ include.class }}{% endif %}">
			{{ include.title }}
		</a>
	</div>
{% endif %}
