{% comment %}
	BOX FOOTER -----------------------------------------
    Info:
        Displays one button "glued" below the right bottom corner of the box.
        Add the class "has-footer" to the ".box".
	Parameters:
		- title (optional)
		- links (array, optional):		links with icon showed on the right side of the header
		- class (optional):				custom class
{% endcomment %}

{% if include.link and include.title %}
	<div class="box-footer is-flex mt-2">
		<a href="{{ include.link | absolute_url }}" class="box-footer__button button is-small has-radius-normal{% if include.class %} {{ include.class }}{% endif %}">
			{{ include.title }}
		</a>
	</div>
{% endif %}
