{% comment %}
	BOX HEADER -----------------------------------------
	Parameters:
		- title (optional)
		- links (array, optional):		links with icon showed on the right side of the header
		- class (optional):				custom class
		- anchor (boolean, optional):	show # with link to the section on hover (à la Github)
{% endcomment %}

<div class="box-header is-flex is-gap-1 is-justify-content-space-between anchor{% if include.class %} {{ include.class }}{% endif %}">
	<h2 class="box-header__title marginless"{% if include.anchor %} id="{{ include.title | replace: "&", "a" | slugify }}"{% endif %}>
		{% if include.title %}
			{{ include.title }}
		{% endif %}
		{% if include.anchor %}
			<a href="{{ include.title | slugify | prepend: "#" }}" class="box-header__anchor anchor__hash px-2">#</a>
		{% endif %}
	</h2>

	{% if include.links.size > 0 %}
		<ul class="box-header__links is-flex is-flex-direction-row is-gap-1 marginless listless">
			{% for link in include.links %}
				{% assign slug = link[0] %}
				<li class="box-header__item marginless">
					<a href="{{ link[1] }}" class="box-header__link button is-ghost is-primary is-gap-1.5 is-small is-touch-friendly">
						{{ t.global.platforms[slug] }}
						{% include e_render-svg-icon.html icon=slug class="box-header__icon icon" dimension=25 inline=true %}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
