{% comment %}
	FEATURE BOX -----------------------------------------
	Info:
		Feature box displays EITHER single button OR array of links (buttons)
	Parameters:
		- icon (optional)
		- title (optional)
		- desc (optional)
		- buttonText and buttonLink
		- buttonExternal (boolean, optional)
		- links
		- class (optional)
		- buttonClass (optional)
{% endcomment %}

{% assign buttonClass = "is-primary is-outlined" %}

{% if include.buttonClass %}
	{% assign buttonClass = include.buttonClass %}
{% endif %}

<div class="feature-box has-text-centered is-flex is-flex-grow-1">
	<div class="box is-flex is-flex-direction-column is-align-items-center is-flex-grow-1 p-6-custom-responsive has-glare {% if include.class %}{{ include.class }}{% endif %}">
		{% if include.icon %}
			{% include e_render-svg-icon.html icon=include.icon inline=true %}
		{% endif %}
		{% if include.title %}
			<h3 class="feature-box__title">{{ include.title }}</h3>
		{% endif %}
		{% if include.desc %}
			<div class="feature-box__desc is-flex-grow-1">
				{{ include.desc | markdownify }}
			</div>
		{% endif %}
		{% if include.buttonText and include.buttonLink %}
			<a href="{{ include.buttonLink }}" class="feature-box__button button mt-5 {{ buttonClass }}"{% if include.buttonExternal %} target="_blank"{% endif %}>{{ include.buttonText }}</a>
		{% elsif include.links %}
			<ul class="feature-box__links buttons is-centered is-gap-1 marginless listless mt-4">
				{%- for link in include.links -%}
					{% assign linkKey = link[0] %}
					{% assign linkUrl = link[1] %}

					<li class="feature-box__link-item marginless">
						<a href="{{ linkUrl }}" class="feature-box__link-button button is-touch-friendly {{ buttonClass }}" target="_blank">
							{% include e_render-svg-icon.html icon=linkKey dimension=25 inline=true class="icon" %}
						</a>
					</li>
				{%- endfor -%}
			</ul>
		{% endif %}
	</div>
</div>
