{% comment %}
	goincognitotable (Go Incognito courses) - columns -----------------------------------------
	Data source: 	_includes/goincognitotable.html
	Parameters:
		isPremium (boolean): 	activating premium visuals (class + button class)
{% endcomment %}

{% assign data = include.data %}

<div class="goincognitotable__column column has-text-centered is-flex is-flex-direction-column is-align-items-center is-gap-2 p-6{% if include.isPremium %} goincognitotable__column--premium has-glare{% endif %}">
	{% if data.icon %}
		{% include e_render-svg-icon.html icon=data.icon inline=true %}
	{% endif %}

	{% if data.title %}
		<h4 class="goincognitotable__title">{{ data.title }}</h4>
	{% endif %}

	{% if data.desc %}
		<p class="goincognitotable__desc">{{ data.desc }}</p>
	{% endif %}

	{% if data.sellingPoints.size > 0 %}
		<ul class="goincognitotable__list listless marginless">
			{% for point in data.sellingPoints %}
				<li class="goincognitotable__list-item marginless pt-2 pb-2">{{ point }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if data.buttons.size > 0 %}
		{% for button in data.buttons %}
			<a href="{{ button.url }}" class="goincognitotable__button button{% if include.isPremium %} is-warning{% endif %}">{{ button.text }}</a>
		{% endfor %}
	{% endif %}

	{% if data.note %}
		<div class="goincognitotable__footnote columns is-flex">
			<div class="column is-flex-grow-0 p-1">
				{% include e_render-svg-icon.html icon="info-circle" inline=true dimension=25 %}
			</div>
			<div class="column has-text-left is-size-7 p-1">
				<p><i>{{ data.note }}</i></p>
			</div>
		</div>
	{% endif %}
</div>
