<div class="hero-banner columns is-align-items-center">
	<div class="column is-half-desktop is-one-third-fullhd">
		<h1>
			{{ site.name }}
			<span class="is-size-2 is-block is-uppercase">{{ site.tagline }}</span>
		</h1>
		{% include c_patreons.html isHomepage=true %}
	</div>
	<div class="column is-half-desktop is-two-thirds-fullhd" aria-hidden="true">
		<div class="hero-banner__scramble is-size-7-mobile is-size-7-tablet is-size-5-desktop is-size-2-fullhd is-flex is-flex-direction-column is-family-monospace">
			<span>tgvrzpjrksoyvvowatoghfdrb</span>
			<span>zdclrsrpiejeqshwctltymumkikewwqy</span>
			<span>kjwguusitkkuvnszcbrjodpxprcqkgzdoyopanbwjxy</span>
			<span>quzklxesso<span class="js-scramble-me hero-banner__scramble-text" data-text="10+ years">10+ years</span>ehmhgcsdpo</span>
			<span>kdzrubfjcnxwzwdhdcc<span class="js-scramble-me hero-banner__scramble-text" data-text="open source services">open source services</span></span>
			<span>fjbrcqs<span class="js-scramble-me hero-banner__scramble-text" data-text="transparent protocols">transparent protocols</span>afqwywlw</span>
			<span>xar<span class="js-scramble-me hero-banner__scramble-text" data-text="public team">public team</span>kdmuyfbrapzxnidqtecxbhsbvktut</span>
			<span>sqdalqfibdeiz<span class="js-scramble-me hero-banner__scramble-text" data-text="strong and active community">strong and active community</span></span>
			<span>qbklfrcsvcrroybtuld zzvekytlfjpucwepnjivtnibchifukjz</span>
			<span>jxnwjzypykldfnxouzhztrfqdlkckydh</span>
			<span>gfkcofetxasciehjdiknsormz</span>
		</div>
	</div>
</div>
