{% comment %}
	KNOWLEDGEBASE (grid) -----------------------------------------
	Data source: 	_data/_en/knowledgebase/{section}.yml
	Parameters:
		- title (string, optional)
		- data (array)
		- related (array, optiona): handy links related to the particular section
	Info:
		Knowledgebase grid. For more information about individual items see "c_knowledgebase-item.html"
{% endcomment %}

{% if include.title %}
	{%- include c_box-header.html title=include.title anchor=true -%}
{% endif %}

<div class="box is-box-info p-6-custom-responsive has-border">
	{% if include.data.size > 0 %}
		<div class="fixed-grid has-1-cols has-2-cols-tablet">
			<div class="grid is-gap-6">
				{% for item in include.data %}
					{% include c_knowledgebase-item.html item=item %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if include.related.size > 0 %}
		{% include c_related-links.html
				title=site.data._en.knowledgebase-text.related
				links=include.related
		%}
	{% endif %}
</div>
