{% comment %}
	KNOWLEDGEBASE ITEM -----------------------------------------
	Data source: 	_data/_en/knowledgebase/{section}.yml
	Parameters:
		- item (array): see the structure in the data source
	Info:
		Displays individual items in the "c_knowledgebase.html" grid.
		Icons are based on slugify names. Eg. "Mullvad Browser" --> "mullvad-browser"
{% endcomment %}

{% assign slugifiedName = include.item.name | slugify %}
{% assign iconColor = include.item.color %}

<div class="knowledgebase-item cell is-flex" id="{{ slugifiedName }}">
	<div class="columns has-2-cols is-flex is-flex-wrap-nowrap">
		<div class="column is-flex-grow-0">
			<i class="knowledgebase-item__icon is-flex is-justify-content-center is-align-items-center has-radius-rounded is-overflow-hidden has-text-warning" {% if iconColor %}style="background-color: {{ iconColor }};{% endif %}">
				<img src="{{ '/assets/knowledgebase/icons/' | append: slugifiedName | append: '.svg' | absolute_url }}" loading="lazy" alt="Icon - {{ include.item.name }}">
			</i>
		</div>
		<div class="column is-flex is-flex-direction-column anchor">
			<h4 class="knowledgebase-item__title is-align-items-center is-flex is-gap-1">
				{{ include.item.name }}
				{% if include.item.favorite %}
					{% include e_render-svg-icon.html icon="star" dimension="25" inline=true class="knowledgebase-item__favorite" %}
				{% endif %}
				<a href="{{ slugifiedName | prepend: "#" }}" class="knowledgebase-item__anchor anchor__hash">#</a>
			</h4>
			<div class="knowledgebase-item__tags is-size-7 is-italic is-flex is-multiline is-gap-1.5">
				{% if include.item.tags.size > 0 %}
					{% for tag in include.item.tags %}
						<span class="knowledgebase-item__tag">{{ tag | prepend: "#" }}</span>
					{% endfor %}
				{% endif %}
			</div>
			{% if include.item.desc %}
				<p class="knowledgebase-item__desc mt-6 is-flex-grow-1">
					{{ include.item.desc }}
				</p>
			{% endif %}
			<div class="knowledgebase-item__links">
				{% if include.item.affil %}
					<a href="{{ include.item.affil }}" class="knowledgebase-item__affil button is-primary is-small is-gap-1.5 is-touch-friendly" target="_blank">
						{% include e_render-svg-icon.html icon="link" dimension="25" class="icon" inline=true %}
						{{ t.resources.knowledgebase.affil }}
					</a>
				{% endif %}
				{% if include.item.labels.size > 0 %}
					{% for label in include.item.labels %}
						{% assign link = label[1] %}
						{% assign text = label[0] %}
						<a href="{{ link }}" class="knowledgebase-item__button button is-small is-touch-friendly" target="_blank">{{ t.resources.knowledgebase.labels[text] }}</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>