{% comment %}
	LINK HUB - LINK -----------------------------------------
	Info:
		- Item for the "linkhub" component
	Parameters:
		- links (array)
		- class: custom class
{% endcomment %}

{% if include.links.size > 0 %}
	{% for link in include.links %}
		{% assign url = link.url %}
		{% unless link.external %}
			{% assign url = link.url | relative_url %}
		{% endunless %}
		<a href="{{ url }}" class="linkhub-dual__button button {% if include.class %}{{ include.class }}{% endif %}">{{ link.title }}</a>
	{% endfor %}
{% endif %}
