{% comment %}
	LINK HUB - DUAL WRAPPER -----------------------------------------
	Info:
		- Wraps "linkhub-dual" and adds text on each side
	Parameters:
		- leftTitle (optional)
		- leftDesc:
		- leftLinkArray:
		- rightTitle:
		- rightDesc:
		- rightLinkArray:
		- buttonsClass
{% endcomment %}

<div class="linkhub-dual-wrapper columns has-1-cols-mobile">
	<div class="column is-flex is-align-items-center has-text-centered-mobile is-relative">
		{%- include c_linkhub-dual-wrapper-column.html 
			title=include.leftTitle
			desc=include.leftDesc
			class="is-on-the-left"
		-%}
		{%- include e_render-svg-icon.html inline=true class="linkhub-dual__arrow" icon="arrow-down" -%}
	</div>
	<div class="column">
		{%- include c_linkhub-dual.html leftLinks=include.leftLinkArray rightLinks=include.rightLinkArray -%}
	</div>
	<div class="column is-flex is-align-items-center has-text-centered-mobile is-relative">
		{%- include c_linkhub-dual-wrapper-column.html 
			title=include.rightTitle 
			desc=include.rightDesc 
			class="is-on-the-right" 
		-%}
		{%- include e_render-svg-icon.html inline=true class="linkhub-dual__arrow" icon="arrow-down" -%}
	</div>
</div>