{% comment %}

{% endcomment %}

<div class="linkhub-dual-wrapper columns has-1-cols-mobile">
	<div class="column is-flex is-align-items-center">
		{%  include c_linkhub-dual-wrapper-column.html title=include.leftTitle desc=include.leftDesc class="is-on-the-left" %}
	</div>
	<div class="column">
		{%  include c_linkhub-dual.html leftLinks=include.leftLinkArray rightLinks=include.rightLinkArray  %}
	</div>
	<div class="column is-flex is-align-items-center">
		{%  include c_linkhub-dual-wrapper-column.html title=include.rightTitle desc=include.rightDesc class="is-on-the-right" %}
	</div>
</div>