{% comment %}
	LINK HUB -----------------------------------------
	Info:
		- Box with two columns of links.
		  I could be used as a standalone component or inside "c_linkhub-dual-wrapper.html"
	Parameters:
		- leftLinks (array)
		- rightLinks (array)
		- leftButtonsClass
		- rightButtonClass
{% endcomment %}

<div class="linkhub-dual box _p-6-custom-responsive">
	<div class="columns">
		<div class="linkhub-dual__column column is-half-tablet">
			<div class="linkhub-dual__list _is-flex _is-flex-direction-column buttons is-centered">
				{%  include c_linkhub-dual-link.html class=include.leftButtonClass links=include.leftLinks %}
			</div>
		</div>
		<div class="linkhub-dual__column column is-half-tablet">
			<div class="linkhub-dual__list _is-flex _is-flex-direction-column buttons is-centered">
				{%  include c_linkhub-dual-link.html class=include.rightButtonClass links=include.rightLinks %}
			</div>
		</div>
	</div>
</div>
