{% comment %}
	LINK HUB -----------------------------------------
	Info:
		- Box with two columns of links.
		  I could be used as a standalone component or inside "c_linkhub-dual-wrapper.html"
	Parameters:
		- leftLinks (array)
		- rightLinks (array)
{% endcomment %}

<div class="linkhub-dual box p-6-custom-responsive">
	<div class="columns">
		<div class="linkhub-dual__column column is-half-tablet">
			<ul class="linkhub-dual__list is-flex is-flex-direction-column listless marginless">
				{%  include c_linkhub-dual-link.html links=include.leftLinks %}
			</ul>
		</div>
		<div class="linkhub-dual__column column is-half-tablet">
			<ul class="linkhub-dual__list is-flex is-flex-direction-column listless marginless">
				{%  include c_linkhub-dual-link.html links=include.rightLinks %}
			</ul>
		</div>
	</div>
</div>