{% include variables.html %}
{% assign patreons = site.data._en.patreons %}

{% if patreons.size > 0 %}
	<div class="patreons is-flex is-gap-2 is-flex-direction-column">
		<div class="patreons__title">
			{% assign patreonLink = site.data._en.navigation.mainNav.support.url | relative_url | append: '#paid' %}
			{{ t.home.patreons.title | replace: "[[patreonLink]]", patreonLink | markdownify }}
		</div>
		<div class="patreons__tags{% if include.isHomepage %} patreons__tags--homepage{% endif %} tags">
			{% for patreon in patreons %}
				<span class="patreons__tag tag px-2 py-1 is-gap-1">
				{% if patreon.iconName %}
					{% include e_render-svg-icon.html icon=patreon.iconName dimension=25 class="patreons__icon icon" inline=true %}
				{% endif %}
				{{ patreon.name }}
			</span>
			{% endfor %}
		</div>
	</div>
{% endif %}
