<div class="column is-full-mobile is-one-third-tablet has-text-centered is-flex is-flex-direction-column">
	<div class="box is-flex is-flex-grow-1">
		<div class="person is-flex is-flex-direction-column is-flex-grow-1" {% if include.isMini %}data-mini{% endif %}>
			<img src="{% link assets/team/{{person.photo}} %}" class="person__photo is-block has-radius-rounded" alt="{{ include.data.name | prepend: "Photo - " }}">

			<h3 class="person__name">
				{{ include.data.name }}
			</h3>
			{% unless include.isMini %}
				<p class="person__bio is-flex-grow-1">
					{{ include.data.bio }}
				</p>
				<a href="{{ include.data.web }}" class="button is-primary is-outlined" target="_blank">
					{{ t.about.personalWebsite }}
				</a>
			{% endunless %}
		</div>
	</div>
</div>
