{% comment %}
	PROJECT (Supported projects) -----------------------------------------
	Data source: 	_data/_en/support.yml
	Parameters:
		- project (array, required)
	Info:
		Displays logo and name of the project. Used inside the "support-proudly.html" component.
{% endcomment %}

{% if include.project.size > 0 %}
	<div class="project has-text-centered is-flex is-flex-direction-column">
		<a href="{{- include.project.url -}}" target="_blank" class="project__logo-wrapper is-flex is-justify-content-center p-3 has-radius-large"{% if include.project.bgColor %} style="background-color: {{ include.project.bgColor }}{% endif %}">
			<img src="{% link assets/support/{{include.project.logo}} %}" alt="Logo - {{- include.project.name -}}" class="project__logo">
		</a>
		<h4 class="project__name mt-3">
			<a href="{{- include.project.url -}}" class="project__link" target="_blank">
				{{- include.project.name -}}
			</a>
		</h4>
	</div>
{% endif %}