{% comment %}
	TESTIMONIAL -----------------------------------------
	Data source: 	_data/_en/testimonials.yml
{% endcomment %}

<div class="card is-shadowless">
	<div class="card-content has-border">
		<div class="media">
			<div class="media-left">
				<figure class="image is-48x48 has-text-link">
					{%- include e_render-svg-icon.html icon="quote-solid" dimension=150 inline=true -%}
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4">{{- include.name -}}</p>
				<p class="subtitle is-6">{{- include.position -}}</p>
			</div>
		</div>

		<div class="content is-italic">
			{{- include.text | prepend: '"' | append: '"' -}}
		</div>
	</div>
</div>
