{% assign isDetailed = include.isDetailed %}
{% assign link = include.link %}
{% assign classes = "is-flex-direction-column is-gap-1" %}

{% if isDetailed %}
	{% assign classes = "video-list__item--detailed is-gap-2" %}
{% endif %}

{% if link.size <= 0%}
	{% assign link = include.youtube %}

{% elsif include.youtube.size <= 0%}
	{% assign link = include.peertube %}
		
{% endif %}

<li class="video-list__item column marginless is-flex {{ classes }}">
	<a class="video-list__link" href="{{ include.link }}" target="_blank">
		{% if include.tags.size > 0 and (isDetailed == null)%}
			<span class="video-list__tags">
				{% for tag in include.tags %}
					<span class="video-list__tag">{{ tag | prepend: "#" }}</span>
				{% endfor %}
			</span>
		{% endif %}
		<img src="{{ include.thumbnail }}" class="video-list__thumb has-radius-normal" alt="Video thumbnail - {{ include.title }}" loading="lazy">
	</a>

	<div class="video-list__content">
		<div class="video-list__title{% if isDetailed %} is-size-3{% endif %}">
			<a class="video-list__link" href="{{ include.link }}" target="_blank">
			{{ include.title }}
			</a>
		</div>
		{% if isDetailed %}
			{% if include.tags.size > 0 %}
				<div class="video-list__tags mt-2">
					{% for tag in include.tags %}
						<span class="video-list__tag">{{ tag | prepend: "#" }}</span>
					{% endfor %}
				</div>
			{% endif %}

			<div class="buttons mt-4">
				{% if include.link %}
					<a href="{{ include.link }}" class="button is-primary">Forum</a>
				{% endif %}
				{% if include.youtube %}
					<a href="{{ include.youtube }}" class="button is-danger">YouTube</a>
				{% endif %}
				{% if include.peertube %}
					<a href="{{ include.peertube }}" class="button is-warning">PeerTube</a>
				{% endif %}
				{% if include.odysee %}
					<a href="{{ include.odysee }}" class="button is-warning">Odysee</a>
				{% endif %}
			</div>
				
			{% if include.desc %}
				<p class="video-list__desc">
					{{ include.desc }}
				</p>
			{% endif %}
		{% endif %}
	</div>
</li>
