{% include variables.html %}
{% assign isDetailed = include.isDetailed %}
{% assign link = include.link %}
{% assign classes = "video-list__item--minimal is-flex-direction-column is-gap-1" %}

{% if isDetailed %}
	{% assign classes = "video-list__item--detailed is-gap-2" %}
{% endif %}

{% if include.link == nil %}
	{% assign link = include.linkYouTube %}

{% elsif include.link == nil and include.linkYouTube == nil %}
	{% assign link = include.linkPeerTube %}

{% endif %}


<li class="video-list__item is-flex is-align-items-flex-start {{ classes }}">
	<a class="video-list__link has-overlay has-border has-radius-normal" href="{{ link }}" target="_blank">
		{% if include.tags.size > 0 and (isDetailed == null) %}
			<span class="video-list__tags tags">
				{% for tag in include.tags %}
					<span class="video-list__tag tag has-background-white has-text-black">{{ tag | prepend: "#" }}</span>
				{% endfor %}
			</span>
		{% endif %}
		<img src="{{ include.thumbnail }}" class="video-list__thumb" alt="Video thumbnail - {{ include.title }}" loading="lazy">
	</a>

	<div class="video-list__content">
		<div class="video-list__title{% if isDetailed %} is-size-3 mt-1{% endif %}">
			<a class="video-list__link" href="{{ link }}" target="_blank">
				{{ include.title }}
			</a>
		</div>
		{%- if isDetailed -%}
			<div class="video-list__undertitle is-flex">
				{% if include.date %}
					<div class="video-list__date mt-2">
						{% assign date = include.date | date: "%Y-%m-%d" %}
						{{ date | date: "%B %d, %Y" }}
					</div>
				{% endif %}

				{% if include.tags.size > 0 %}
					<div class="video-list__tags tags mt-2">
						{% for tag in include.tags %}
							<span class="video-list__tag tag">{{ tag | prepend: "#" }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="buttons mt-4 mb-0">
				{% comment %}TODO: DRY --> component{% endcomment %}
				{% if include.isPremium %}
					<a href="{{ site.data._en.navigation.mainNav.goincognito.url | relative_url }}" class="button is-warning is-gap-2">
						{% include e_render-svg-icon.html icon="bright-star" class="icon" dimension=25 inline=true %}
						{{ t.goincognito.premium.buttonText }}
					</a>
				{% endif %}
				{% if include.link %}
					<a href="{{ include.link }}" class="button is-primary is-gap-2">
						{% include e_render-svg-icon.html icon="discuss" class="icon" dimension=25 inline=true %}
						Forum
					</a>
				{% endif %}
				{% if include.linkYouTube %}
					<a href="{{ include.linkYouTube }}" class="button is-danger is-gap-2">
						{% include e_render-svg-icon.html icon="youtube" class="icon" dimension=25 inline=true %}
						YouTube
					</a>
				{% endif %}
				{% if include.linkPeerTube %}
					<a href="{{ include.linkPeerTube }}" class="button is-warning is-gap-2">
						{% include e_render-svg-icon.html icon="peertube" class="icon" dimension=25 inline=true %}
						PeerTube
					</a>
				{% endif %}
				{% if include.linkOdysee %}
					<a href="{{ include.linkOdysee }}" class="button is-warning is-gap-2">
						{% include e_render-svg-icon.html icon="odysee" class="icon" dimension=25 inline=true %}
						Odysee
					</a>
				{% endif %}
			</div>

			{% if include.desc %}
				<p class="video-list__desc mt-4 has-text-wrap-balance">
					{{ include.desc }}
				</p>
			{% endif %}
		{%- endif -%}
	</div>
</li>
