{% comment %}
	SVG ICON -----------------------------------------
	Data source: 	/_includes/icons/{*}.svg
	Parameters:
		- icon:				name of the SVG file in the {data source}
		- class:			custom class(es); when placed inside a button use class "icon"
		- dimension:	size of the icon (aspect ratio 1:1)
							default size: 100 (100%)
							variant sizes: 25, 50, 75, 150, 200
		- path:				(deprecated)
		- inline:			(deprecated)
{% endcomment %}

{% assign icon = include.icon %}
{% unless include.icon %}
	{% assign icon = "default" %}
{% endunless %}

{% assign dimension = include.dimension %}
{% unless include.dimension %}
	{% assign dimension = 100 %}
{% endunless %}

{% assign url = "icons/" | append: icon | append: ".svg" %}

<span class="svg-icon svg-icon--inline {{ dimension | prepend: "is-size-" }} {{ include.class }}">
	{% include {{ url }} %}
</span>
