{% include variables.html %}
{% assign nav = site.data._en.navigation %}

<footer class="footer pt-0">
	{% include wave.html isFooter=true %}
	<div class="container">
		<div class="columns has-1-cols has-3-cols-tablet has-5-cols-desktop is-multiline">
			<div class="footer__logos column is-full-tablet is-one-fifth-desktop is-flex">
				<img src="{{ '/assets/logos/techlore-logo-edit-by-figma.svg' | absolute_url }}" class="footer__logo" loading="lazy" alt="Logo - {{ site.name }}">
				<a href="https://www.eff.org/" target="_blank">
					<img src="{{ '/assets/logos/eff-member.png' | absolute_url }}" class="footer__logo" loading="lazy" alt="EFF member">
				</a>
			</div>
			<div class="column">
				<h6 class="footer__column-title">{{ site.name | upcase }}</h6>
				<ul class="footer__list listless">
					<li class="footer__list-item"><a href="{{ nav.mainNav.about.url | absolute_url }}" class="footer__link is-touch-friendly">{{ nav.mainNav.about.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.footerNav.contact.url | absolute_url }}" class="footer__link is-touch-friendly">{{ nav.footerNav.contact.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.hiddenNav.privacy.url | absolute_url }}" class="footer__link is-touch-friendly">{{ nav.hiddenNav.privacy.title }}</a></li>
				</ul>
			</div>
			<div class="column">
				<h6 class="footer__column-title">{{ t.videos.title | upcase }}</h6>
				<ul class="footer__list listless">
					<li class="footer__list-item"><a href="{{ nav.mainNav.videos.url | absolute_url }}" class="footer__link is-touch-friendly">{{ t.videos.techlore.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.mainNav.videos.url | absolute_url }}#techlore-clips" class="footer__link is-touch-friendly">{{ t.videos.techloreClips.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.mainNav.videos.url | absolute_url }}#surveillance-report" class="footer__link is-touch-friendly">{{ t.videos.surveillanceReport.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.mainNav.goincognito.url | absolute_url }}" class="footer__link is-touch-friendly">{{ t.goincognito.title }}</a></li>
				</ul>
			</div>
			<div class="column">
				<h6 class="footer__column-title">{{ t.resources.title | upcase }}</h6>
				<ul class="footer__list listless">
					<li class="footer__list-item"><a href="{{ nav.hiddenNav.spaQuiz.url | absolute_url }}" class="footer__link is-touch-friendly">{{ nav.hiddenNav.spaQuiz.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.hiddenNav.vpnToolkit.url | absolute_url }}" class="footer__link is-touch-friendly">{{ nav.hiddenNav.vpnToolkit.title }}</a></li>
					<li class="footer__list-item"><a href="{{ nav.hiddenNav.plexus.url | absolute_url }}" class="footer__link is-touch-friendly" target="_blank">{{ nav.hiddenNav.plexus.title }}</a></li>
					<li class="footer__list-item">
						<a href="{{ nav.mainNav.resources.url | absolute_url | append: '#techlore-guides' }}" class="footer__link is-touch-friendly" target="_blank">{{ t.videos.techloreGuides.title }}</a></li>
				</ul>
			</div>
			<div class="column is-full-tablet is-one-fifth-desktop is-flex is-flex-direction-column">
				<div class="footer__column-wrapper">
					{% assign socialLinks = site.socials.links | keys %}
					{% if socialLinks.size > 0 %}
						<h6 class="footer__column-title">{{ t.featureBox.socials.title | upcase }}</h6>
						<ul class="footer__list is-flex is-flex-direction-row is-multiline listless is-gap-1">
							{% for link in socialLinks %}
								{% assign url = link[1] %}
								{% assign icon = link[0] %}
								<li class="footer__list-item">
									<a href="{{ url }}" class="footer__button button is-primary is-touch-friendly">
										{% include e_render-svg-icon.html icon=icon dimension=25 inline=true class="icon" %}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="footer__column-wrapper">
					{% assign paymentLinks = site.support.links | keys %}
					{% if paymentLinks.size > 0 %}
						<h6 class="footer__column-title">{{ t.support.title | upcase }}</h6>
						<ul class="footer__list is-flex is-flex-direction-row is-multiline listless is-gap-1">
							{% for link in paymentLinks %}
								{% assign url = link[1] %}
								{% assign icon = link[0] %}
								<li class="footer__list-item">
									<a href="{{ url }}" class="button is-primary is-touch-friendly">
										{% include e_render-svg-icon.html icon=icon dimension=25 inline=true class="icon" %}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="is-size-7 has-text-centered has-text-white mt-6">
			{{ site.name }} &copy; {{ 'now' | date: '%Y' }}
		</div>
	</div>
</footer>
<script src="{{ "/assets/js/main.js" | relative_url }}{{ 'now' | date: '%s' | prepend: "?" }}"></script>
