<div class="fixed-grid has-1-cols has-2-cols-tablet has-4-cols-desktop is-size-7">
	<div class="grid">
		<div class="cell">
			<h5>Section 1 - Introduction</h5>
			<ol>
				<li>Introduction</li>
				<li>Why Should You Care?</li>
				<li>Security vs Privacy</li>
				<li>FOSS</li>
				<li>Metadata</li>
				<li>The Convenience Line</li>
				<li>Supporting Go Incognito</li>
			</ol>
		</div>
		<div class="cell">
			<h5>Section 2 - A Clean Slate</h5>

			<ol>
				<li>Introduction</li>
				<li>Minimalism</li>
				<li>Erasing Your Local Identity</li>
				<li>Erasing Your Online Identity</li>
				<li>Finale</li>
			</ol>
		</div>
		<div class="cell is-row-span-2-desktop">
			<h5>Section 3 - Basic Digital Protection</h5>

			<ol>
				<li>Introduction</li>
				<li>Stay Updated!</li>
				<li>Permissions & Settings</li>
				<li>Passwords</li>
				<li>Two-Factor Authentication</li>
				<li>Search Engines</li>
				<li>Your Browser</li>
				<li>Hardening Your Browser</li>
				<li>Your Browsing Habits</li>
				<li>Browser Uniqueness</li>
				<li>Proxies & VPNs</li>
				<li>Antiviruses & Malware</li>
				<li>File Deletion</li>
				<li>Storage & Encryption</li>
				<li>Safe Communication</li>
				<li>Finale</li>
			</ol>
		</div>
		<div class="cell">
			<h5>Section 4 - Advanced Digital Protection</h5>

			<ol>
				<li>Introduction</li>
				<li>Desktop Operating Systems</li>
				<li>Mobile Operating Systems</li>
				<li>Expendable Operating Systems</li>
				<li>Tor</li>
				<li>Cryptocurrencies</li>
				<li>Audits</li>
				<li>Finale</li>
			</ol>
		</div>
		<div class="cell">
			<h5>Section 5 - Physical Privacy & Security</h5>

			<ol>
				<li>Introduction</li>
				<li>The Basics</li>
				<li>MAC</li>
				<li>Networking</li>
				<li>Radios</li>
				<li>Device Separation</li>
				<li>Finale</li>
			</ol>
		</div>
		<div class="cell">
			<h5>Section 6 - Living The Lifestyle</h5>

			<ol>
				<li>Introduction</li>
				<li>Who Can You Trust?</li>
				<li>Minimizing Data Access</li>
				<li>Anon/Pseudonymization</li>
				<li>Shopping Safely</li>
				<li>Lifestyle Changes</li>
				<li>Pre-Configured Hard/Software</li>
				<li>Downsides to Safety</li>
				<li>Becoming an Activist</li>
				<li>Finale</li>
			</ol>
		</div>
		<div class="cell">
			<h5>Section 7 - A New Beginning</h5>

			<ol>
				<li>Course Summary</li>
				<li>Congratulations!</li>
			</ol>
		</div>
	</div>
</div>