<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- capture title -%}
		{%- unless page.title == "Home" -%}{{ page.title | append: " | " }}{%- endunless -%}{{ site.name }} - {{ site.tagline }}
	{%- endcapture -%}
	{% assign description = page.description | default: site.description | strip_html | truncate: 160 %}
	{% assign url = page.permalink | default: "/" %}
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="image" content="{{ site.ogImage | absolute_url }}">
	<meta name="author" content="{{ site.name }}">
	<link rel="canonical" href="{{ url | absolute_url }}">

	<!-- Open Graph Meta Tags for Social Media -->
	<meta property="og:site_name" content="{{ site.name }}">
	<meta property="og:title" content="{{ title | truncate: 60 }}">
	<meta property="og:description" content="{{ description | truncate: 160 }}">
	<meta property="og:image" content="{{ site.ogImage | absolute_url }}">
	<meta property="og:image:alt" content="{{ title | truncate: 60 }} (preview image)">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:url" content="{{ url | absolute_url }}">
	<meta property="og:type" content="article">

	<!-- Twitter Card Meta Tags -->
	<meta name="twitter:site" content="{{ site.twitter | prepend: "@" }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ title | truncate: 60 }}">
	<meta name="twitter:description" content="{{ description | truncate: 160 }}">
	<meta name="twitter:image" content="{{ site.ogImage | absolute_url }}">
	<meta name="twitter:image:alt" content="{{ title | truncate: 60 }} (preview image)">

	{% assign vpnPermalink = site.data._en.navigation.hiddenNav.vpnToolkit.url %}
	{%- if page.permalink == vpnPermalink %}
		<link rel="stylesheet" href="{{ "/assets/vendors/tabulator/tabulator.min.css" | relative_url }}{{ 'now' | date: '%s' | prepend: "?" }}">
	{%- endif %}
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}{{ 'now' | date: '%s' | prepend: "?" }}">

	{% comment %}THX https://realfavicongenerator.net/ {% endcomment %}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
	<link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
	<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="#5675e6">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#5675e6">
</head>
