<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if page.noindex -%}
		<meta name="robots" content="noindex, nofollow">
	{% endif -%}
	{%- capture page_title -%}
	    {%- if page.title == "Home" -%}
	        {{ site.name }} | {{ site.tagline }}
	    {%- else -%}
	        {{ page.title }} | {{ site.name }}
	    {%- endif -%}
	{%- endcapture -%}
	{% assign description = page.description | default: site.description | strip_html | truncate: 160 %}
	{% assign url = page.permalink | default: "/" %}
	<title>{{ page_title }}</title>

	{% comment %}Open Graph Images - source: _config.yml{% endcomment %}
	{%- case url -%}
		{% when site.data._en.navigation.mainNav.about.url %}
			{% assign ogImage = site.ogImages.about %}

		{% when site.data._en.navigation.mainNav.videos.url %}
			{% assign ogImage = site.ogImages.videos %}

		{% when site.data._en.navigation.mainNav.goincognito.url %}
			{% assign ogImage = site.ogImages.goincognito %}

		{% when site.data._en.navigation.mainNav.resources.url %}
			{% assign ogImage = site.ogImages.resources %}

		{% when site.data._en.navigation.mainNav.support.url %}
			{% assign ogImage = site.ogImages.support %}

		{% when site.data._en.navigation.hiddenNav.spaQuiz.url %}
			{% assign ogImage = site.ogImages.spa %}

		{% when site.data._en.navigation.hiddenNav.vpnToolkit.url %}
			{% assign ogImage = site.ogImages.vpn %}

		{% else %}
			{% assign ogImage = site.ogImages.default %}

	{%- endcase -%}
	<meta name="description" content="{{ description }}">
	<meta name="image" content="{{ ogImage | absolute_url }}">
	<meta name="author" content="{{ site.name }}">
	<link rel="canonical" href="{{ url | absolute_url }}">

	{% include meta/og-meta.html title=title description=description ogImage=ogImage -%}
	{% include meta/twitter-meta.html title=title description=description ogImage=ogImage -%}
	{% include meta/mastodon-meta.html -%}
	{% include meta/schema-org.html -%}

	{% assign vpnPermalink = site.data._en.navigation.hiddenNav.vpnToolkit.url %}
	{%- if page.permalink == vpnPermalink %}
		<link rel="stylesheet" href="{{ "/assets/vendors/tabulator/tabulator.min.css" | relative_url }}{{ 'now' | date: '%s' | prepend: "?" }}">
	{%- endif %}
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}{{ 'now' | date: '%s' | prepend: "?" }}">

	{% comment %}THX https://realfavicongenerator.net/ {% endcomment %}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
	<link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
	<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="#5675e6">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#5675e6">
</head>
