<div class="box">
	<div class="columns">
		<div class="column is-half-tablet">
			<ul class="listless marginless">
				<li><a href="" class="button is-primary is-outlined">learn01</a></li>
				<li><a href="" class="button is-primary is-outlined">learn02</a></li>
				<li><a href="" class="button is-primary is-outlined">learn03</a></li>
			</ul>
		</div>
		<div class="column is-half-tablet">
			<ul class="listless marginless">
				<li><a href="" class="button is-primary is-outlined">tool01</a></li>
				<li><a href="" class="button is-primary is-outlined">tool02</a></li>
				<li><a href="" class="button is-primary is-outlined">tool03</a></li>
			</ul>
		</div>
	</div>
</div>