{% comment %}
	NAVIGATION -----------------------------------------
	Data source: 	_data/_en/navigation.yml
	Parameters:
		- xxx (boolean):			xxxx
	Info:
		Navigation uses edited version of Bulma "Navbar" component (https://bulma.io/documentation/components/navbar/).
		JavaScript requirement has been removed, it uses simple "checkbox" to open/close menu on mobile devices.
{% endcomment %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item navbar-item--logo" href="{% link index.html %}" title="Back to home">
			{% comment %}Edited logo required for the animation ;){% endcomment %}
			{% include_relative assets/logos/techlore-logo-edit-by-figma.svg %}
		</a>
	</div>

	<input type="checkbox" id="navbar-menu-toggle">
	<label for="navbar-menu-toggle" class="navbar-burger" aria-label="menu">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</label>

	<div class="navbar-menu is-justify-content-space-between">
		<div class="navbar-start is-flex-grow-1">
			<div class="is-flex-desktop is-justify-content-center">
				<ul class="marginless listless is-flex-desktop is-family-secondary">
					{% for navItem in site.data._en.navigation.mainNav %}
						{% assign item = navItem[1] %}
						<li class="navbar-item{% if page.url == item.url %} is-active{% endif %}">
							<a href="{{ item.url }}" class="is-flex is-align-items-center is-gap-1" {% if item.external %}target="_blank"{% endif %}>
								{% if item.icon.size > 0 %}
									{% include e_render-svg-icon.html icon=item.icon inline=true class="icon" dimension=25 %}
								{% endif %}
								{{ item.title }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-ghost is-gap-1.5 has-text-black">
						{% include e_render-svg-icon.html dimension=25 inline=true class="icon" %}
						Placeholder
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
