<h2 class="has-text-centered">Official accounts</h2>
<div class="official-accounts mt-6">
	<div class="media">
		<div class="level media-content">
			<div class="level-left">
				<div class="level-item">
					<h4 class="title">Video Platforms</h4>
				</div>
			</div>
			<div class="level-right">
				<div class="buttons is-gap-0">
					<a href="" class="button is-ghost is-touch-friendly">YouTube</a>
					<a href="" class="button is-ghost is-touch-friendly">Odysee</a>
					<a href="" class="button is-ghost is-touch-friendly">PeerTube</a>
					<a href="" class="button is-ghost is-touch-friendly">TikTok</a>
				</div>
			</div>
		</div>
	</div>
	<div class="media">
		<div class="level media-content">
			<div class="level-left">
				<div class="level-item">
					<h4 class="title">Core Platforms</h4>
				</div>
			</div>
			<div class="level-right">
				<div class="buttons is-gap-0">
					<a href="" class="button is-ghost">Forum</a>
					<a href="" class="button is-ghost">Blog</a>
					<a href="" class="button is-ghost">GitHub</a>
					<a href="" class="button is-ghost">Teachable</a>
					<a href="" class="button is-ghost">LinkedIn</a>
				</div>
			</div>
		</div>
	</div>
	<div class="media">
		<div class="level media-content">
			<div class="level-left">
				<div class="level-item">
					<h4 class="title">Socials</h4>
				</div>
			</div>
			<div class="level-right">
				<div class="buttons is-gap-0">
					<a href="" class="button is-ghost">Mastodon</a>
					<a href="" class="button is-ghost">Twitter</a>
					<a href="" class="button is-ghost">Reddit</a>
					<a href="" class="button is-ghost">Matrix</a>
					<a href="" class="button is-ghost">Telegram</a>
				</div>
			</div>
		</div>
	</div>
	<div class="media">
		<div class="level media-content">
			<div class="level-left">
				<div class="level-item">
					<h4 class="title">Finances</h4>
				</div>
			</div>
			<div class="level-right">
				<div class="buttons is-gap-0">
					<a href="" class="button is-ghost">Patreon</a>
					<a href="" class="button is-ghost">Liberapay</a>
					<a href="" class="button is-ghost">PayPal</a>
					<a href="" class="button is-ghost">Ko-fi</a>
				</div>
			</div>
		</div>
	</div>
	<div class="media">
		<div class="level media-content">
			<div class="level-left">
				<div class="level-item">
					<h4 class="title has-text-grey">Inactive</h4>
				</div>
			</div>
			<div class="level-right">
				<div class="buttons is-gap-0">
					<a href="" class="button is-ghost has-text-grey">omg.lol</a>
					<a href="" class="button is-ghost has-text-grey">Spring</a>
					<a href="" class="button is-ghost has-text-grey">Bluesky</a>
				</div>
			</div>
		</div>
	</div>
</div>