{% comment %}
	TEAM -----------------------------------------
	Data source: 	_data/_en/team.yml
	Parameters:
		- isHomepage (boolean):		show only first 3 people from the data source
		- isMini (boolean):			hide the description and the personal website button
	Info:
		In case the team has more than 3 people, a link 'and others...' will automatically appear on the homepage.
{% endcomment %}

{% include variables.html %}
{% assign team = site.data._en.team %}
{% assign bigTeam = false %}

{% if team.size > 3 %}
	{% assign bigTeam = true %}
{% endif %}

{% if include.isHomepage %}
	{% assign team = site.data._en.team | slice: 0, 3 %}
{% endif %}

{% if team.size > 0 %}
	<div class="team mt-6">
		<div class="columns is-multiline is-centered">
			{%- for person in team -%}
				{% include c_person.html data=person isMini=include.isMini isHomepage=include.isHomepage %}
			{%- endfor -%}
		</div>

		{% if bigTeam and include.isHomepage %}
			<p class="has-text-centered">
				<a href="TODO:link" class="">... and others</a>
			</p>
		{% endif %}
	</div>
{% endif %}