<div class="techlore-guides">
	<div class="box p-6-custom-responsive">

		{%- if site.guides.size > 0 -%}
			{% assign sortedGuides = site.guides | sort: "frontmatter.dateUpdated" | reverse %}

			<div class="columns is-multiline">
				{% for guide in sortedGuides %}
					{% assign filename = guide.path | split: "/" | last %}
					{% assign guideThumbnail = "/guides/" | append: filename | replace: ".md", ".jpg" | relative_url %}

					<div class="column is-full is-half-fullhd fixed-grid">
						<div class="grid is-gap-3">
							{%- include c_guide.html
								title=guide.title
								desc=guide.description
								thumbnail=guideThumbnail
								date=guide.dateUpdated
								link=guide.linkYouTube
								tags=guide.tags
								isPremium=guide.isPremium
							-%}
						</div>
					</div>
				{% endfor %}
			</div>
		{%- endif -%}

	</div>
</div>
