<div class="wrapper">
  <h1>XWRAP</h1>
  {% if include.title %}
    <div class="title">{{include.title}}</div>
  {% endif %}

  {% for video in include.videos %}
    {% assign videoDatePublished = video.datePublished %}
    {% assign videoIdYoutube = video.idYouTube %}
    {% assign videoTitle = video.title %}
    {% assign videoDesc = video.description %}
    {% assign videoLinkForum = video.linkForum %}
    {% assign filename = video.path | split: "/" | last %}
    {% assign videoThumbnail = "/thumbnails/" | append: filename | replace: ".md", "-850x480.jpg" | relative_url %}

    {%- include c_video.html id=videoIdYoutube title=videoTitle desc=videoDesc link=videoLinkForum thumbnail=videoThumbnail date=videoDatePublished -%}

  {% endfor %}
  {%- if include.videos.size > 0 -%}
  {% endif %}
</div>
