.box-footer {
	margin-top: calc(var(--bulma-size-5) * -1.5);
	justify-content: center;

	.has-border + & {
		margin-top: var(--bulma-size-5);
	}

	@media (min-width: $tablet) {
		justify-content: flex-end;
	}
}
