.button {
	--bulma-button-weight: var(--bulma-weight-bold);
}

// Tweak for a tooltip variant (screen readers)
.button .is-sr-only + .icon:last-child:not(:first-child) {
	margin-inline-start: calc(var(--bulma-button-padding-horizontal)* -.5);
}

// Custom "mobile/touch" friendly button
.button.is-touch-friendly {
	@extend .button;

	@media (pointer: coarse) {
		padding: calc(var(--bulma-size-5) * .5) var(--bulma-size-5);
		min-width: calc(var(--bulma-size-5) * 3);
		border-radius: var(--bulma-radius-medium);

		&.is-primary:not(.is-outlined) {
			border: 1px solid var(--bulma-primary-30);

			.footer & {
				border-color: var(--bulma-primary-10-invert);
			}
		}
	}
}

a.is-touch-friendly {
	@media (pointer: coarse) {
		display: inline-block;
		padding: calc(var(--bulma-size-5) * .5) 0;
		min-width: calc(var(--bulma-size-5) * 3);
	}
}

.button.is-danger,
.button.is-info,
.button.is-warning,
.button.is-success,
.button.is-primary {
	--bulma-button-color-l: var(--bulma-danger-100-l);
	--bulma-button-border-width: 1px;
}
