// Custom "mobile/touch" friendly button
.button.is-touch-friendly {
	@extend .button;

	@media (pointer: coarse) {
		padding: calc(var(--bulma-size-5) * .5) var(--bulma-size-5);
		min-width: calc(var(--bulma-size-5) * 3);

		&.is-primary:not(.is-outlined) {
			border: 1px solid var(--bulma-primary-30);

			.footer & {
				border-color: var(--bulma-primary-10-invert);
			}
		}
	}
}

a.is-touch-friendly {
	@media (pointer: coarse) {
		display: inline-block;
		padding: calc(var(--bulma-size-5) * .5) 0;
		min-width: calc(var(--bulma-size-5) * 3);
	}
}

.button.is-danger {
	--bulma-button-color-l: var(--bulma-danger-100-l);
}
