// TODO: Bells&Whistles - fixed reveal?
.footer {
	background-color: var(--bulma-primary);
}

.footer__logos {
	flex-direction: row;
	justify-content: center;
	gap: var(--bulma-size-2);
	border-bottom: 1px dotted var(--bulma-light);
	padding-bottom: var(--bulma-size-2);

	@media (min-width: $tablet) {
		justify-content: left;
	}

	@media (min-width: $desktop) {
		flex-direction: column;
		align-items: center;
		border-bottom: 0;
	}
}

.footer__column-title {
	font-weight: 900;
	color: var(--bulma-white);
}

.footer__link,
.footer__button {
	color: var(--bulma-white);
}

.footer__link {
	&:hover {
		text-decoration: underline;
	}
}

.footer__list {
	flex-wrap: wrap;
}

.footer__logo {
	display: block;
	width: calc(var(--bulma-size-5) * 3);
}

.footer__column-wrapper {
	& + & {
		margin-top: var(--bulma-size-5);
	}
}

// --- Go TOP button
.footer__top-button {
	position: fixed;
	inset: auto var(--bulma-column-gap) calc(var(--bulma-column-gap) * 3) auto;
	z-index: 20;
	border: 0;
	transition: opacity 350ms ease-in-out, translate 350ms ease-in-out;

	&[data-visibility="false"] {
		pointer-events: none;
		opacity: 0;
		translate: 0 25%;
	}

	&[data-visibility="true"] {
		opacity: 1;
		translate: 0 0;
	}

	.svg-icon {
		rotate: 180deg;
	}
}
