html {
	scroll-behavior: smooth;
	scroll-padding: calc(var(--bulma-size-2) + var(--bulma-navbar-height)) 0 0 0;
	transition: background-color 250ms ease-in-out;

	@media (min-width: $desktop) {
		scroll-padding: var(--bulma-size-5) 0 0 0;
	}
}

img {
	font-style: italic;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	a:not(.button) {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

section,
footer,
.mt-custom {
	margin-top: calc(var(--bulma-size-1) * 2);
}

// FIX for Bulma columns on mobile
.container {
	padding-inline: var(--bulma-column-gap); // .75rem
}

// FIX for an optical vertical alignment of media component
.media + .media {
	padding-top: calc(var(--bulma-media-spacing) + .25rem);
}

// Responsive padding
.p-6-custom-responsive {
	--_padding: var(--bulma-size-3);
	padding: var(--_padding) var(--_padding);

	@media (min-width: $tablet) {
		--_padding: var(--bulma-size-1);
	}
}

.has-text-shadow {
	text-shadow: 0 1px 10px var(--bulma-black-ter);
}

.has-text-wrap-balance {
	text-wrap: balance;
}

.has-glare {
	background-image: conic-gradient(from 30deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 7%));
	background-repeat: no-repeat;
	background-position: center center;
}

.has-no-background {
	background-color: transparent;
}

.has-border {
	border: 1px solid var(--bulma-border-weak);
}

.has-titles-counted {
	counter-reset: titles;

	h2 {
		counter-increment: titles;

		&::before {
			content: counter(titles, upper-roman)". ";
		}
	}
}

.has-content-text-align-left {
	.feature-box__desc {
		text-align: left;
	}
}

.listless {
	li {
		list-style: none;

		&::marker {
			position: absolute;
			display: none;
			content: '';
		}
	}
}

.two-columns-spacer {
	.column:nth-child(1) {
		@media (min-width: $tablet) {
			margin-right: var(--bulma-size-3);
		}
	}

	.column:nth-child(2) {
		@media (max-width: $tablet - 1px) {
			margin-top: var(--bulma-size-2);
		}

		@media (min-width: $tablet) {
			margin-left: var(--bulma-size-3);
		}
	}
}
