// FIX for Bulma columns on mobile
.container {
	padding-inline: var(--bulma-column-gap); // .75rem
}

// Responsive padding
.p-6-custom-responsive {
	--_padding: var(--bulma-size-3);
	padding: var(--_padding) var(--_padding);

	@media (min-width: $tablet) {
		--_padding: var(--bulma-size-1);
	}
}

.has-text-shadow {
	text-shadow: 0 1px 10px var(--bulma-black-ter);
}

.has-text-wrap-balance {
	text-wrap: balance;
}

.has-glare {
	background-image: conic-gradient(from 30deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 7%));
	background-repeat: no-repeat;
	background-position: center center;
}