.knowledgebase-nav__button {
	order: var(--_order, 66);
}

.knowledgebase-item {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		pointer-events: none;
		inset: calc(var(--bulma-size-5) * -1);
		border-radius: var(--bulma-radius-large);
		border: .125rem solid transparent;
		box-shadow: none;
		z-index: 1;
		transition: box-shadow 350ms ease-in-out, border-color 1s ease-in-out;
	}

	&:target {
		&:after {
			border-color: var(--bulma-primary-00-invert);
			box-shadow: 0 0 50px -15px var(--bulma-primary);
		}
	}
}

.knowledgebase-item__title {
	flex-direction: column;
	align-items: flex-start;

	@media (min-width: 400px) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.content & {
		margin-bottom: 0;
	}
}

.knowledgebase-item__title-link {
	color: var(--custom-knowledgebase-item-link);

	&:hover {
		color: var(--custom-knowledgebase-item-link-hover);
	}
}

.knowledgebase-item__hash {
	display: inline-block;
	padding-inline: calc(var(--bulma-size-5) * .75);
}

.knowledgebase-item__desc {
	color: var(--bulma-text-strong);
}

.knowledgebase-item__icon {
	background-color: var(--bulma-black);
	width: calc(var(--bulma-size-5) * 2.5);
	padding: calc(var(--bulma-size-5) * .45) calc(var(--bulma-size-5) * .45);
	aspect-ratio: 1;
	outline: 1px solid var(--bulma-border-weak);
	transition: outline 200ms ease-in-out;

	&:hover {
		outline: 3px solid var(--bulma-primary);
	}

	@media (min-width: $fullhd) {
		width: calc(var(--bulma-size-5) * 4.35);
		padding: calc(var(--bulma-size-5) * .75) calc(var(--bulma-size-5) * .75);
	}
}

.knowledgebase-item__favorite {
	color: var(--bulma-warning-60);
}

.knowledgebase-item__tags {
	position: relative;
	background-color: var(--custom-knowledgebase-tags-bg);
	padding: calc(var(--bulma-size-5) * .25) calc(var(--bulma-size-5) * .75);
	border-radius: var(--bulma-size-5);
	margin-top: calc(var(--bulma-size-5) * .5);

	&:after {
		content: '';
		width: calc(var(--bulma-size-5) * 4);
		height: calc(var(--bulma-size-5) * .25);
		background-color: var(--bulma-primary);
		position: absolute;
		inset: auto auto calc(var(--bulma-size-5) * -1.6) 0;
		border-radius: 100vmax;
	}
}

.knowledgebase-item__tag:not(:last-child):not(.knowledgebase-item__tag--icon) {
	&:after {
		content: ' \2022  ';
	}
}

.knowledgebase-item__tag--icon {
	aspect-ratio: 1;
	display: inline-flex;
	padding: calc(var(--bulma-size-5) * .25);
}
