.knowledgebase-nav__button {
	order: 66;

	// --- generate classes for the prefered order of the navigation buttons
	@for $i from 1 through 10 {
		&[data-order="#{$i}"] {
			order: $i;
		}
	}
}

.knowledgebase-item {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		pointer-events: none;
		inset: calc(var(--bulma-size-5) * -1);
		border-radius: var(--bulma-radius-large);
		border: .125rem solid transparent;
		box-shadow: none;
		z-index: 1;
		transition: box-shadow 350ms ease-in-out, border-color 1s ease-in-out;
	}

	&:target {
		&:after {
			border-color: var(--bulma-primary-00-invert);
			box-shadow: 0 0 50px -15px var(--bulma-primary);
		}
	}
}

.knowledgebase-item__title {
	position: relative;

	.knowledgebase-item:has(.knowledgebase-item__desc) & {
		&:after {
			content: '';
			width: calc(var(--bulma-size-5) * 4);
			height: calc(var(--bulma-size-5) * .25);
			background-color: var(--bulma-primary);
			position: absolute;
			inset: calc(var(--bulma-size-5) * 4) auto auto 0;
			border-radius: 100vmax;
		}
	}

	.content & {
		margin-bottom: 0;
	}
}

.knowledgebase-item__hash {
	display: inline-block;
	padding-inline: calc(var(--bulma-size-5) * .75);
}

.knowledgebase-item__desc {
	color: var(--bulma-text-strong);
}

.knowledgebase-item__icon {
	background-color: var(--bulma-black);
	width: calc(var(--bulma-size-5) * 2.5);
	padding: calc(var(--bulma-size-5) * .45) calc(var(--bulma-size-5) * .45);
	aspect-ratio: 1;
	outline: 1px solid var(--bulma-border-weak);

	@media (min-width: $fullhd) {
		width: calc(var(--bulma-size-5) * 4);
		padding: calc(var(--bulma-size-5) * .75) calc(var(--bulma-size-5) * .75);
	}
}

.knowledgebase-item__favorite {
	color: var(--bulma-warning-60);
}

.knowledgebase-item__tags {

}

.knowledgebase-item__tag:not(:last-child) {
	&:after {
		content: ', ';
	}
}
