.linkhub-dual {
	//
}

.linkhub-dual__column {
	&:last-child {
		.linkhub-dual__list {
			@media (min-width: $tablet) {
				align-items: flex-end;
			}
		}
	}
}

.linkhub-dual-wrapper__desc {
	 text-wrap: balance;
 }

.linkhub-dual__item {
	@media (max-width: $tablet - 1px) {
		text-align: center;
	}
}

.linkhub-dual__button {
	min-width: calc(var(--bulma-size-5) * 8);
}

// --- wrapper
.linkhub-dual-wrapper {
	.is-on-the-left {
		@media (min-width: $tablet) {
			text-align: right;
		}
		@media (min-width: $fullhd) {
			padding-left: 30%;
		}
	}

	.is-on-the-right {
		@media (min-width: $fullhd) {
			padding-right: 30%;
		}
	}
}

.linkhub-dual-wrapper__column {
	@media (max-width: $tablet - 1px) {
		width: 100%;
	} 
}

.svg-icon.linkhub-dual__arrow {
	color: var(--custom-linkhub-arrow-color);
	position: absolute;
	opacity: .2;
	z-index: -1;
	width: calc(var(--bulma-size-5) * 15);

	@media (max-width: $tablet - 1px) {
		left: 50%;
		translate: -50% -15%;
	}

	@media (min-width: $tablet) {
		right: calc(var(--bulma-size-5)* -2.5);
		rotate: -90deg;
	}

	.is-on-the-right + & {
		@media (max-width: $tablet - 1px) {
			rotate: -180deg;
			translate: -50% 15%;
		}
	
		@media (min-width: $tablet) {
			right: auto;
			left: calc(var(--bulma-size-5)* -2.5);
			rotate: 90deg;
		}
	}
}