.patreons__tags {
    text-transform: none;

	&--homepage {
		@media (max-width: 767px) {
			justify-content: center;
		}
	}
}

.patreons__tag {
	transition: background-color 350ms ease-in-out;
}

.patreons__icon {
    display: flex;
}
