.person {
	position: relative;
	max-width: calc(var(--bulma-size-5) * 27);
	margin-inline: auto;

	// --- mini variant
	.is-mini & {
		padding: calc(var(--bulma-size-5) * 1.25);
	}
}

.person__bg {
	background-color: #5675E6;
	background-image: radial-gradient(at center, #279AD5, #5675E6); // Background gradient in case there is no background photo.
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top -2rem;
	position: absolute;
	inset: 0 0 auto 0;
	border-radius: var(--bulma-radius-large);
	height: calc(var(--bulma-size-5) * 18);
	z-index: 0;
	opacity: .5;
	clip-path: polygon(100% 0%, 0% 0%, 0.00% 70.00%, 2.22% 69.96%, 4.44% 69.85%, 6.67% 69.67%, 8.89% 69.42%, 11.11% 69.10%, 13.33% 68.70%, 15.56% 68.24%, 17.78% 67.72%, 20.00% 67.14%, 22.22% 66.49%, 24.44% 65.79%, 26.67% 65.04%, 28.89% 64.23%, 31.11% 63.39%, 33.33% 62.50%, 35.56% 61.58%, 37.78% 60.62%, 40.00% 59.64%, 42.22% 58.63%, 44.44% 57.60%, 46.67% 56.57%, 48.89% 55.52%, 51.11% 54.48%, 53.33% 53.43%, 55.56% 52.40%, 57.78% 51.37%, 60.00% 50.36%, 62.22% 49.38%, 64.44% 48.42%, 66.67% 47.50%, 68.89% 46.61%, 71.11% 45.77%, 73.33% 44.96%, 75.56% 44.21%, 77.78% 43.51%, 80.00% 42.86%, 82.22% 42.28%, 84.44% 41.76%, 86.67% 41.30%, 88.89% 40.90%, 91.11% 40.58%, 93.33% 40.33%, 95.56% 40.15%, 97.78% 40.04%, 100.00% 40.00%);

	.is-mini & {
		clip-path: polygon(100% 0%, 0% 0%, 0.00% 50.00%, 1.67% 49.95%, 3.33% 49.78%, 5.00% 49.51%, 6.67% 49.14%, 8.33% 48.66%, 10.00% 48.09%, 11.67% 47.43%, 13.33% 46.69%, 15.00% 45.88%, 16.67% 45.00%, 18.33% 44.07%, 20.00% 43.09%, 21.67% 42.08%, 23.33% 41.05%, 25.00% 40.00%, 26.67% 38.95%, 28.33% 37.92%, 30.00% 36.91%, 31.67% 35.93%, 33.33% 35.00%, 35.00% 34.12%, 36.67% 33.31%, 38.33% 32.57%, 40.00% 31.91%, 41.67% 31.34%, 43.33% 30.86%, 45.00% 30.49%, 46.67% 30.22%, 48.33% 30.05%, 50.00% 30.00%, 51.67% 30.05%, 53.33% 30.22%, 55.00% 30.49%, 56.67% 30.86%, 58.33% 31.34%, 60.00% 31.91%, 61.67% 32.57%, 63.33% 33.31%, 65.00% 34.12%, 66.67% 35.00%, 68.33% 35.93%, 70.00% 36.91%, 71.67% 37.92%, 73.33% 38.95%, 75.00% 40.00%, 76.67% 41.05%, 78.33% 42.08%, 80.00% 43.09%, 81.67% 44.07%, 83.33% 45.00%, 85.00% 45.88%, 86.67% 46.69%, 88.33% 47.43%, 90.00% 48.09%, 91.67% 48.66%, 93.33% 49.14%, 95.00% 49.51%, 96.67% 49.78%, 98.33% 49.95%, 100.00% 50.00%);
	}
}

.person__photo {
	max-width: 10rem;
	position: relative;
	z-index: 1;
	margin-inline: auto;
	margin-top: calc(var(--bulma-size-5) * 1);
}

.person__name {
	text-transform: uppercase;
	position: relative;
	z-index: 1;

	.person[data-mini] & {
		margin-top: var(--bulma-size-1);
	}

	.person:not([data-mini]) & {
		margin-top: var(--bulma-size-1);
		margin-bottom: 0;
	}

	&:after {
		content: '';
		display: block;
		background-color: $primary;
		width: 4rem;
		height: .2rem;
		translate: 0 calc(var(--bulma-size-5) * -3);
		margin-inline: auto;
	}
}

.person__bio {
	margin-top: var(--bulma-size-2);
	text-wrap: balance;
}