.pricetable {
	position: relative;

	@media (max-width: $tablet - 1px) {
		margin-inline: auto;
		max-width: 85vw;
	}
}

.pricetable__column {
	border: 1px solid var(--bulma-border-active);
	border-radius: var(--bulma-radius);

	&:first-of-type {
		@media (min-width: $tablet) {
			border-radius: var(--bulma-radius) 0 0 var(--bulma-radius);
			border-right-color: transparent;
		}
	}

	& + & {
		@media (max-width: $tablet - 1px) {
			margin-top: var(--bulma-size-2);
		}
	}
}

.pricetable__column--premium {
	// TODO: hover rotating grad
	border-color: transparent;
	background-color: var(--bulma-dark);

	@media (min-width: $tablet) {
		margin-block: calc(var(--bulma-size-2) * -1);
		padding-block: calc(var(--bulma-size-1) * 1.2) !important;
	}
}

.pricetable__logo {
	width: calc(var(--bulma-size-5) * 6);
	position: absolute;
	inset: 0 auto auto 50%;
	translate: -50% -60%;

	@media (min-width: $tablet) {
		translate: -50% -10%;
	}
}

.pricetable__desc {
	text-wrap: balance;
}

.pricetable__list {
	min-width: 70%;

	& + a {
		margin-top: var(--bulma-size-2);
	}
}

.pricetable__list-item {
	position: relative;

	& + & {
		&:before {
			content: '';
			position: absolute;
			inset: -1px 0 auto 0;
			border-top: 1px dotted var(--bulma-border-hover);
		}
	}

	.pricetable__column--premium & {
		font-weight: 900;
		color: var(--bulma-success);
	}
}

.pricetable__footnote {
	margin-top: var(--bulma-size-2);
}