.sub-hero {
	//
}

.sub-hero__title {
	position: relative;

	&:after {
		content: '';
		display: block;
		background-color: var(--bulma-primary);
		width: calc(var(--bulma-size-5) * 4);
		height: calc(var(--bulma-size-5) * .2);
		translate: 0 var(--bulma-size-5);
		border-radius: 100vmax;
	}
}

.sub-hero__desc {
	text-wrap: balance;
}

.sub-hero__buttons {
		justify-content: flex-end;

	@media (max-width: $tablet) {
		justify-content: center;
		margin-top: var(--bulma-size-5);
	}
}
