a[target="_blank"] {
	&:after {
		//content: '[->]';
	}
}

section,
footer,
.mt-custom {
	margin-top: calc(var(--bulma-size-1) * 2);
}

// Utils
.listless {
	li {
		list-style: none;

		&::marker {
			position: absolute;
			display: none;
			content: '';
		}
	}
}

.feature-box__desc {
	text-wrap: balance;
}