a[target="_blank"] {
	&:after {
		//content: '[->]';
	}
}

section,
footer,
.mt-custom {
	margin-top: calc(var(--bulma-size-1) * 2);
}

.box-header__link {
	--bulma-button-padding-horizontal: .25rem;
}

.box {
	//background-color: #2d2e3a;
	background-color: #121f36;
	box-shadow: none;
}

// Utils
.listless {
	li {
		list-style: none;

		&::marker {
			position: absolute;
			display: none;
			content: '';
		}
	}
}

.feature-box__desc {
	text-wrap: balance;
}