.topic-list {
	font-weight: 900;
}

.topic-list__title {
	line-height: 1.25;
}

.topic-list__link {
	&:hover {
		.topic-list__title {
			text-decoration: underline;
		}
	}

	&:has(.is-skeleton) {
		pointer-events: none;
	}
}

.topic-list__views {
	min-width: calc(var(--bulma-size-1) * 1);
	border-radius: var(--bulma-radius-rounded);
	background-color: var(--bulma-info);
	color: var(--bulma-black);
	font-style: normal;

	&::before {
		content: "";
		background-image: url(../icons/eye-solid.svg);
		width: var(--bulma-size-5);
		aspect-ratio: 1;
	}
}

.topic-list__footer {
	font-weight: 400;
	font-style: italic;
	color: var(--bulma-text-light);
	font-size: var(--bulma-size-7);
}
