.video-list {
	&:has(.video-list__item--minimal) {
		display: grid;
  		grid-template-columns: repeat(auto-fit, minmax(calc(var(--bulma-size-5) * 12), 1fr));
  		gap: var(--bulma-size-5);
	}

	li + li {
		margin-top: 0;
	}
}

.video-list__item {
	&--minimal {
		//
	}
		
	// --- Detailed ("all videos" version)
	&--detailed {
		@media (max-width: 500px) {
			flex-direction: column;
		}
	}
}

.video-list__link {
	display: block;
	position: relative;
	overflow: hidden;

	&.has-overlay {
		&:before {
			content: '';
			position: absolute;
			background-image: linear-gradient(0, rgba(0 0 0 / 0), rgba(0 0 0 / 50%));
			inset: 0;
			border-radius: var(--bulma-radius);
			opacity: 0;
			transition: opacity 350ms ease-in-out;
		}
	}

	&:hover {
		text-decoration: underline;

		&:before {
			opacity: 1;
		}

		.video-list__tags {
			translate: 0 0;
		}
	}

	// --- Detailed ("all videos" version)
	.video-list__item--detailed & {
		@media (min-width: 500px) {
			flex-shrink: 0;
		}
	}
}

.video-list__thumb {
	display: block;
	aspect-ratio: 16 / 9;
	object-fit: cover;

	.video-list__item--detailed & {
		@media (min-width: 500px) {
			width: calc(var(--bulma-size-5) * 10);
		}
		
		@media (min-width: $tablet) {
			width: calc(var(--bulma-size-5) * 15);
		}
		
		@media (min-width: $desktop) {
			width: calc(var(--bulma-size-5) * 25);
		}
	}
}

.video-list__content {
	padding-inline: calc(var(--bulma-size-5) * .5);
	position: relative;
}

.video-list__title {
	font-weight: 900;
}

.video-list__date {
	font-size: calc(var(--bulma-size-5) * .75);
	padding-right: var(--bulma-size-5);
}

.video-list__tags {
	text-align: left;
	font-size: calc(var(--bulma-size-5) * .75);
	text-transform: lowercase;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;

	.video-list__item--minimal & {
		padding: calc(var(--bulma-size-7) * .5);
		position: absolute;
		inset: 0 0 auto 0;
		translate: 0 -100%;
		transition: translate .6s cubic-bezier(0.34, 1.56, 0.64, 1);
	}
}

.video-list__tag {
	white-space: nowrap;

	.video-list__item--minimal & {
		background-color: var(--bulma-white);
		padding: 0 calc(var(--bulma-size-7) * .25);
		border-radius: var(--bulma-radius-small);
		color: var(--bulma-black);
		box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
		border: 0;
	}
}