.video-list {
	display: flex;

	li + li {
		margin-top: 0;
	}

	&--3-videos {
		justify-content: center;
	}
}

.video-list__item {
	flex-basis: 100%;

	&:hover {
		.video-list__link {
			&:before {
				opacity: 1;
			}
		}

		.video-list__link-icon {
			translate: -50% -50%;
			opacity: 1;
		}
	}

	@media (min-width: 476px) {
		width: calc((100% / 2) - var(--bulma-column-gap));
		flex-grow: 0;
		flex-basis: auto;
	}

	@media (min-width: $tablet) {
		width: calc((100% / 4) - var(--bulma-column-gap));
	}

	// --- 3 main videos
	.video-list--3-videos & {
		@media (min-width: $tablet) {
			width: calc((100% / 3) - (var(--bulma-column-gap) * .95));
		}
	}

	// --- 50% container
	.video-list--50 & {
		@media (min-width: $tablet) {
			width: calc((100% / 2) - (var(--bulma-column-gap) - (var(--bulma-column-gap) * .25)));
		}
	}

	// --- Minimal (Home, Videos)
	&--minimal {
		border-radius: var(--bulma-radius);
		border: 1px solid var(--bulma-border-weak);
	}

	// --- Detailed ("Guides" version)
	&--detailed {
		width: 100%;

		@media (max-width: 519px) {
			flex-direction: column;
		}
	}
}

.video-list__link {
	display: block;
	position: relative;
	overflow: hidden;
	text-wrap: balance;

	&.has-overlay {
		&:before {
			content: '';
			position: absolute;
			background-color:  rgba(0 0 0 / 50%);
			inset: 0;
			border-radius: var(--bulma-radius);
			opacity: 0;
			transition: opacity 350ms ease-in-out;
			z-index: 2;
		}
	}

	&:hover {
		text-decoration: underline;
	}

	.video-list__item--minimal & {
		border: 0;
	}

	// --- Detailed ("all videos" version)
	.video-list__item--detailed & {
		@media (min-width: 520px) {
			flex-shrink: 0;
		}
	}
}

.video-list__link--thumb {
	aspect-ratio: 16 / 9;
	width: 100%;
	background-color: var(--bulma-background-hover);

	.video-list__item--detailed & {
		width: auto;
	}

	&:after {
		content: '';
		width: 15px;
		aspect-ratio: 1;
		border-radius: 50%;
		animation: thumbLoader 1s infinite linear alternate;
		position: absolute;
		inset: 50% auto auto 50%;
		translate: -50% -50%;
		z-index: 0;
	}
}

@keyframes thumbLoader {
	0%  {box-shadow: 20px 0 var(--bulma-background), -20px 0 var(--bulma-background-active);background: var(--bulma-background) }
	33% {box-shadow: 20px 0 var(--bulma-background), -20px 0 var(--bulma-background-active);background: var(--bulma-background-active)}
	66% {box-shadow: 20px 0 var(--bulma-background-active),-20px 0 var(--bulma-background); background: var(--bulma-background-active)}
	100%{box-shadow: 20px 0 var(--bulma-background-active),-20px 0 var(--bulma-background); background: var(--bulma-background) }
}

.video-list__thumb {
	display: block;
	position: relative;
	z-index: 1;

	aspect-ratio: 16 / 9;
	object-fit: cover;

	.video-list__item--detailed & {
		@media (min-width: 520px) {
			width: calc(var(--bulma-size-5) * 10);
		}

		@media (min-width: $tablet) {
			width: calc(var(--bulma-size-5) * 15);
		}

		@media (min-width: $desktop) {
			width: calc(var(--bulma-size-5) * 25);
		}
	}
}

.video-list__content {
	padding-inline: calc(var(--bulma-size-5) * .5);
	position: relative;
	padding: .25rem 1rem .75rem 1rem;

	.video-list__item--minimal & {
		text-align: center;
	}
}

.video-list__title {
	font-weight: var(--bulma-weight-bold);
	line-height: 1.4;
}

.video-list__date {
	font-size: calc(var(--bulma-size-5) * .75);
	padding-right: var(--bulma-size-5);
}

.video-list__link-icon {
	position: absolute;
	inset: auto 0 0 auto;
	top: 50%;
	left: 50%;
	translate: -50% -25%;
	opacity: 0;
	z-index: 5;
	color: var(--bulma-white);
	transition: opacity 350ms ease-in-out, translate 350ms ease-in-out;

	path {
		stroke-width: 4px;
	}
}
