.wave {
	background-color: var(--bulma-body-background-color);
	color: var(--bulma-primary);
	margin-top: -.5rem;
	position: relative;
	transition: background-color 250ms ease-in-out;
	z-index: 1;

	@media (min-width: $desktop) {
		margin-top: calc(var(--bulma-navbar-height) * -1);
	}

	svg {
		path {
			animation: wave 25s linear infinite;

			@media (prefers-reduced-motion: reduce) {
				animation: none;
			}
		}
	}

	svg + svg {
		position: absolute;
		inset: 0;
		opacity: .2;

		path {
			animation-delay: 1s;
			animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
		}
	}
}

// Footer variant
.wave--footer {
	background-color: transparent;
	margin-inline: calc(var(--bulma-size-5) * -1.5); // compensation for the footer inline padding

	svg {
		path {
			fill: var(--bulma-body-background-color);
			transition: fill 250ms ease-in-out;
		}
	}
}

@keyframes wave {
	100% {
		transform: translateX(-100%);
	}
}