---
---

@use "../node_modules/bulma/sass" with (
	// --- typography
	$family-primary: '"Montserrat", Segoe UI, Helvetica Neue, Arial, sans-serif',
	$family-secondary: unquote('"Nunito", Lato, Arial, sans-serif'),
	$family-monospace: unquote('"Source Code Pro", monospace'),
	$family-code: unquote('"Source Code Pro", monospace'),
	$button-family: unquote('"Nunito", Lato, Arial, sans-serif'),
	$body-line-height: 1.62,

	// --- sizes
	$size-1: 3.8542rem,
	$size-2: 1.625rem,
	$size-3: 1.2292rem,
	$size-4: 1.2292rem,
	$size-5: 1rem,
	$size-6: 1rem,
	$size-7: 0.8333rem,
);


@import "../node_modules/bulma/sass/index";
@import "no-js";
@import "fonts";
@import "global";
@import "helpers-custom";
@import "themes";
@import "theme-toggle";
@import "buttons";
@import "box";
@import "svg-icon";
@import "nav";
@import "wave";
@import "hero-banner";
@import "sub-hero";
@import "box-header";
@import "box-footer";
@import "anchor";
@import "video";
@import "tags";
@import "patreons";
@import "goincognitotable";
@import "linkhub-dual";
@import "team";
@import "person";
@import "project";
@import "knowledgebase";
@import "knowledgebase-navigation";
@import "support";
@import "related-links";
@import "affiliates";
@import "accordion";
@import "topic-list";
@import "coaching";
@import "vpn-modal";
@import "spa-quiz";
@import "tabulator-custom";
@import "tooltip";
@import "official-accounts";
@import "p404";
@import "footer";

:root {
	min-height: 0vw; // Safari fix for fluid typography
}
