@font-face {
  src: url('../fonts/Comfortaa-Regular.ttf');
  font-family: 'Comfortaa';
}

html, body {
  font-family: 'Comfortaa';
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  height: 100% !important;
}

::selection, * ::selection {
  background-color: #406e8e;
  opacity: 1;
  color: white;
}

#videos {
  background-color: #094074;
}

#contact {
  background-color: #369A77;
}

#contact h1 {
  text-transform: uppercase;
  color: white;
}

#contact p {
  text-align: center;
  color: white;
}
.submit {
  cursor: pointer;
}

.submit:hover {
  background: #3D5626;
}

.active {
  border-bottom: 1px solid white;
}

.protocol-link {
  background: #406e8e;
  display: table;
  margin: 0 auto;
  color: white;
  padding: 7px;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: -20px;
  border-radius: 5px;
}

.page {
  background-color: #638BA7;
}

.page img, .page p {
  background-color: #406e8e;
  color: white;
  display: inline-block;
}

.tags a {
  text-decoration: none;
  color: #A5783A;
}

.page h2 {
  display: table;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  padding: 7px;
  border-radius: 3px;
}

#about h2 {
  margin-bottom: 15px;
}

#_bftn_iframe, #_bftn_wrapper {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

 #_bftn_wrapper {
  display: block !important;
 }

.error {
  font-size: 50px !important;
  margin-bottom: -20px !important;
}

.nav {
  width: 100%;
  color: white;
  background: #050517;
  display: block;
  height: 70px;
  z-index: 11;
  transition: all 1s ease;
  text-align: center;
}

.nav img {
  background: none;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -70px;
}

.footer, .push {
  height: 70px;
}

.footer {
  width: 100%;
  line-height: 70px;
  text-align: center;
  color: white;
  margin-top: 50px;
  background: #050517;
}

.nav ul li.logo-container {
  width: 50px;
}

.nav ul li .logo {
  display: block;
  height: 42px;
  width: 42px;
  margin-top: 15px;
}

.social-supercontainer {
  display: inline-block;
  height: 60px;
}

.nav ul li.social-container {
  width: 50px;
  text-align: center;
  padding: 0px !important;
  vertical-align: middle;
  height: 70px;
  display: table;
}

.nav ul li.social-container a {
  vertical-align: middle;
  display: table-cell;
  height: 50px;
  width: 50px;
}

.nav ul li.social-container a img {
  margin: 0 auto;
}

.matrix-container {
  width: auto !important;
}

.matrix-container a {
  color: white;
}

.nav ul li .social {
  display: block;
  height: 25px;
  width: 25px;
}

.nav ul {
  text-align: center;
  display: inline-block;
  margin-top: 0px;
  list-style-type: none;
  padding-top: 0px;
  margin-left: -40px;
}

.nav ul li {
  float: left;
  display: inline-block;
  padding: 0px 14px 0px 14px;
  text-align: center;
  line-height: 70px;
  height: 70px;
}

.nav ul li.spacer {
  font-size: 16px;
  width: 20px;
  padding: 0px;
  display: none !important;
}

.nav li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.nav li.show-menu, .nav li.hide-menu {
  display: none;
}

img.course-logo {
  width: 130px;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 25px;
  display: block;
  background-color: black !important;
}

img.youtube-logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  margin-top: -5px;
}

.course-header {
  height: 450px;
  background: black;
  color: white;
  width: 100%;
  display: table;
  margin-bottom: 3%;
  vertical-align: middle;
}

.course-header .course-header-inner {
  display: table-cell;
  vertical-align: middle
}

.course-header h1 {
  font-size: 43px;
  vertical-align: middle;
  margin-top: 25px;
}

.course-header div {
  font-size: 21px;
  background: none;
  margin: 0 auto;
  display: table;
}

div .keyword {
  background: white;
  color: #DB6C4F;
  border-radius: 3px;
  display: inline-block;
  padding: 7px 12px;
  margin: 0 7px;
}

.red {
  color: #DB6C4F;
}

#course .tags.links .grey {
  background-color: #333;
}

#course .tags.links .grey a {
  color: grey;
}

#course .tags.links {
  margin-top: 20px;
}

#course .tags.links div {
  background-color: black;
}

#course .tags.links a {
  font-size: 19px;
  line-height: 25px;
  padding: 7px;
  color: white;
  text-decoration: underline;
}

#course {
  background-color: black;
}

#course .left {
  background-color: #DB6C4F;
}

#course .left .tags div {
  color: #981E1B;
}

#course .right {
  background-color: #B3DA8F;
}

#course .right .subtitle {
  color: #597D38
}

#course .right .tags div {
  color: forestgreen;
}

#course .left, #course .right {
  padding-top: 0%;
  vertical-align: middle;
  display: table;
  height: 450px;
}

#course .inner {
  display: table-cell;
  vertical-align: middle;
}

.course-bottom {
  color: white;
  text-align: center;
}

.course-bottom div {
  display: inline-block;
  margin: 10px;
  margin-top: 30px;
}

.course-bottom a {
  background: white;
  color: #DB6C4F;
  border-radius: 3px;
  display: inline-block;
  padding: 7px 12px;
  font-size: 22px;
  margin: 0 7px;
  margin-top: 5%;
  text-decoration: underline;
}

.course-bottom a.grey {
  background: #333;
  color: grey;
}

#course .footer {
  background: black !important;
}

#support {
  background-color: #E68150;
}

#support h1 {
  color: white;
  text-transform: uppercase;
}

#support .main-content p {
  background: none;
}

#support .main-content p a, #support .main-content p em {
  background: white;
  border-radius: 3px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

#support .main-content p em {
  font-style: normal;
  display: table;
  margin-top: 10px;
}

#support .main-content ul {
  text-align: left;
  display: block;
  margin: 0;
}

#support .main-content ul li {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

#support .main-content ul li a {
  display: inline-block;
  margin: 0 auto;
  background: #D26029;
  text-decoration: underline;
  margin-top: 15px;
}

#support .main-content ul li p {
  width: 100%;
  color: white;
  font-size: 20px;
  background: none;
}

#support .main-content ul li p img {
  background: none;
  width: 30px;
  height: 30px;
  display: inline-block;
  float: left;
}

#support code {
  margin-top: 10px;
  display: block;
  color: white;
  background: none;
  font-family: 'Comfortaa';
  word-break: break-all;
}

#home iframe {
  display: block;
  margin: 0 auto;
}

.visit {
  margin: 0 auto;
  display: table;
  background: #DB6C4F;
  border-radius: 3px;
  color: white;
  margin-top: 15px;
  padding: 7px 12px;
  line-height: 27px;
}

.asterisk {
  color: black;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
  text-align: center;
  bottom: 0;
}

.asterisk-light {
  color: white;
}

.asterisk.small {
  font-size: 11px;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}

.asterisk.small a {
  color: #5C1110;
}

.left .asterisk {
  color: #981E1B;
}

.right .asterisk {
  color: #597D38;
}

.left, .right {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  color: #fff;
  padding-top: 10%;
}

.left {
  vertical-align: middle;
  background-color: black;
  font-size: 20px;
}

.left .main-title {
  color: white;
  margin-top: 0px;
  font-size: 39px;
  margin-bottom: 30px;
}

.left .inner {
  display: block;
  margin: 0 auto;
}

.left .keywords, .course-header .keywords {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  line-height: 60px;
  margin-top: 0px;
}

.keywords .keyword {
  line-height: 27px;
}

.left .padding {
  padding: 70px;
}

.left .link {
  text-align: center;
  background-color: #A5783A;
  color: white;
  padding: 20px;
}

.left .link span {
  line-height: 60px;
  font-size: 41px;
  color: white;
}

.left .home-links {
  display: table;
  margin: 0 auto;
}

.left .home-links a {
  display: inline-block;
  margin: 10px;
}

.right {
  background-color: #05325E;
  color: white;
}

.right .home-links {
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.right .home-links a {
  background-color: #050517;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  color: white;
  padding: 10px 13px;
  margin: 10px;
  font-size: 18px;
  text-decoration: underline;
}

.tags {
  display: block;
  margin: 0 auto;
  line-height: 50px;
  width: 70%;
  text-align: center;
}

.tags div {
  padding: 7px 12px;
  font-size: 20px;
  border-radius: 3px;
  line-height: 27px;
  margin: 5px;
  background: white;
  color: #050517;
  display: inline-block;
}

.tags div a {
  text-decoration: underline;
}

.left .tags div {
  background: white;
  color: #A5783A;
}

.main-logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  margin-top: 35px;
  transition: all .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-logo img {
  width: 160px;
  margin-bottom: 12px;
  height: 160px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.top, .bottom {
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 35px;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 17px;
  font-size: 27px;
  margin-bottom: 15px;
}

.subtitle {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 35px;
  color: white;
  margin-bottom: 20px;
}

#course .subtitle {
  margin: 0 auto;
  margin-bottom: 20px;
}

.subtitle i {
  font-size: 21px;
  font-style: normal;
}

.link {
  display: table;
  margin: 0 auto;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 25px;
}

.link a {
  color: white;
  padding: 9px;
  font-size: 18px;
  margin-bottom: 100px;
  text-decoration: underline;
}

h1#aff-header {
  color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
}

#videos h2 {
  color: white;
  text-transform: uppercase;
}

.padder {
  display: block;
}

.head-content {
  width: 100%;
  margin-top: 20px;
  background-color: #406e8e;
}

.head-content p {
  width: 650px;
  color: white;
  display: block;
  padding: 30px 0px;
  margin: 0 auto;
}

.main-content {
  width: 650px;
  display: block;
  margin: 0 auto;
}

.head-content a {
  color: white !important;
}

.main-content h2 {
  font-size: 25px;
  margin-top: 50px;
}

.main-content p {
  line-height: 27px;
  font-size: 16px;
  margin-bottom: 35px;
}

.main-content img {
  display: block;
  margin: 0 auto;
  height: 300px;
}

.rows img {
  height: 230px;
}

.main-content h3 {
  margin-top: 50px;
  color: white;
}

.main-content blockquote ul, #about blockquote ul {
  color: white;
  list-style: circle;
  text-align: left;
}

.main-content ul {
  margin-top: -70px;
  list-style: none;
  text-align: right;
}

.main-content ul li {
  margin: 30px 0px 30px 0px;
}

.main-content ul li a, .amazon, .bottom {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
  background-color: #406e8e;
}

.amazon {
  display: table;
  margin: 0 auto;
  text-decoration: underline;
  background-color: #406e8e;
}

.main-content h1 {
  color: white;
}

.main-content h4 {
  font-weight: normal;
  color: white;
}

.rows img, .rows p {
  display: inline-block;
}

iframe {
  padding: 3px;
  margin: 15px;
  border-radius: 5px;
  width: 400px;
  height: 223px;
  background-color: white;
}

#about .rows {
  width: 100%;
}

#about .row-inner {
  width: 750px;
  display: table;
  border-collapse: separate;
  border-spacing: 30px;
  margin: 0 auto;
}

#about .row {
  background-color: #406e8e;
  width: 100%;
  margin-bottom: 70px;
  padding-bottom: 0px;
  padding: 20px 0px;
  height: auto;
}

#about .row a {
  color: white;
}

#about .row p, #about .row blockquote {
  text-align: left;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: white;
}

#about .row blockquote p, #about .row blockquote ul {
  width: 100%;
}

#about.row blockquote ul {
  display: block;
  margin-top: -50px !important;
  padding-top: 0px;
}

#about .row p img {
  display: block;
  margin: 0 auto;
}

.rows {
  margin-top: 50px;
}

.row {
  display: block;
  width: 950px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.all-videos {
  display: table;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  background: #05325E;
  border-radius: 5px;
  margin: 0 auto;
  line-height: 30px;
  height: 30px;
  text-decoration: none;
  margin-bottom: 90px;
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
}

.techlore-logo img {
  width: 180px;
  height: 180px;
  background: none;
}

.rem-photo img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

form {
  width: 550px;
  margin: 0 auto;
  margin-top: 35px;
}

::placeholder, label, textarea {
  font-family: 'Comfortaa';
  font-size: 16px;
  line-height: 31px;
  padding-top: 1px;
}

label {
  text-transform: uppercase;
}

::placeholder {
  color: white;
}

textarea::placeholder, #email::placeholder, #name::placeholder {
  color: white;
}

input, textarea {
  color: white;
  display: block;
  width: 300px;
  height: 35px;
  line-height: 32px;
  -webkit-appearance: none;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: 'Comfortaa';
  font-size: 16px;
  border: none;
}

textarea {
  resize: vertical;
  padding-top: 5px;
  color: #A5783A;
}

input[type="submit"] {
  font-size: 17px;
  text-transform: uppercase;
  background: none;
  font-family: 'Comfortaa';
  display: table;
  width: auto;
  margin: 0 auto;
  background: #1C8D65;
  color: white;
  border: none;
  box-shadow: none;
  outline: none;
  line-height: 31px;
}

input#name, input#email, textarea#message {
  background-color: #1C8D65;
  color: white;
}

textarea {
  height: 100px;
}

label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 19px;
  color: white;
}

.social-icons {
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
}

.social-icons li {
  display: inline-block;
  background: #1C8D65;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 7px;
}

.social-icons li img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1180px) {

  body, html {
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  #course .left, #course .right {
    height: 520px;
  }

  .main-logo {
    margin-bottom: 30px;
  }

  .nav {
    height: auto;
  }

  .nav ul {
    padding-left: 0 !important;
    margin-left: 0px;
  }

  .nav ul li {
    display: none;
    width: 100%;
    height: auto;
    line-height: 35px;
    margin: 0;
    padding: 0;
  }

  .nav ul .spacer {
    display: none !important;
  }

  .nav ul .logo-container {
    width: 100% !important;
    margin: 20px 0px 20px 0px;
    text-align: center;
    display: block;
  }

  .nav ul .logo-container a {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .nav ul .logo-container .logo {
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .social-supercontainer {
    margin: 0 auto;
    padding-left: 0px;
    margin-top: -15px;
    margin-bottom: 12px;
    text-align: center;
  }

  .nav ul .social-container {
    display: none;
  }

  .nav li.show-menu, .nav li.hide-menu {
    display: block;
    text-align: center;
  }

  .main-content img {
    width: 80%;
    height: auto;
  }

  .main-content .techlore-logo img {
    width: 50%;
    height: auto;
  }

  .text-container {
    top: 65%;
  }

  .rows {
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    width: 90%;
  }

  .row {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .row h2 {
    width: 100%;
  }

  .bottom {
    margin-bottom: 100px;
  }

  iframe {
    width: 80%;
    padding: 0;
    padding-bottom: 30px;
    height: 230px;
  }

  .rem-photo img {
    width: 25%;
    height: auto;
  }

  form {
    max-width: 100%;
    margin-top: 0px;
  }

  form label {
    display: block;
    text-align: left;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: 12%;

  }

  form input, textarea {
    width: 75%;
    margin: 0 auto;
  }

  form input[type="submit"] {
    margin-top: 40px;
  }

  #about .row {
    width: 100%;
    height: auto;
  }

  #about .row .row-inner {
    display: block;
    height: auto;
    width: 98%;
  }

  #about .row .row-inner p {
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    width: 90%;
    height: auto;
  }

  #about .row .row-inner ul {
    padding-left: 0;
  }

  iframe {
    background: none !important;
  }

  .head-content {
    width: 100%;
  }

  .head-content p {
    width: 88%;
  }

  .course-header {
    height: 500px;
  }

}

@media screen and (max-width: 750px) {

  html, body {
    -webkit-overflow-scrolling: touch;
  }

  .main-content {
    width: 90%;
  }

  .main-content h4 {
    width: 50%;
  }

  .left, .right {
    padding-top: 70px;
    width: 100%;
  }

  .left {
    height: 450px;
  }

  .left .padding {
    padding: 30px;
  }

}

@media screen and (max-width: 469px) {

  .left {
    padding-bottom: 60px;
  }

  #course .left {
    padding-top: 60px;
  }

}
